body
{
   background-color: #000000;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_navigation
{
   clear: both;
   position: -webkit-sticky;
   position: sticky;
   top: 0;
   z-index: 7776;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#navigation
{
   box-sizing: border-box;
   padding: 20px 15px 20px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1024px;
}
#navigation > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#navigation > .row > .col-1, #navigation > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#navigation > .row > .col-1, #navigation > .row > .col-2
{
   float: left;
}
#navigation > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 25%;
   text-align: left;
}
#navigation > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 75%;
   text-align: left;
}
#navigation:before,
#navigation:after,
#navigation .row:before,
#navigation .row:after
{
   display: table;
   content: " ";
}
#navigation:after,
#navigation .row:after
{
   clear: both;
}
@media (max-width: 320px)
{
#navigation > .row > .col-1, #navigation > .row > .col-2
{
   float: none;
   width: 100%;
}
}
#wb_welcome
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   height: 50vh;
   background-color: transparent;
   background-image: url(../images/beijing04-bw.png);
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: scroll;
   background-size: cover;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#welcome
{
   box-sizing: border-box;
   height: 50vh;
   padding: 100px 15px 100px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1024px;
}
#welcome > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#welcome > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#welcome > .row > .col-1
{
   float: left;
}
#welcome > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#welcome:before,
#welcome:after,
#welcome .row:before,
#welcome .row:after
{
   display: table;
   content: " ";
}
#welcome:after,
#welcome .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#welcome > .row > .col-1
{
   float: none;
   width: 100%;
}
}
#welcome-overlay
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-color: #000000;
   opacity: 0.5;
}
#wb_news
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #000000;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#news
{
   box-sizing: border-box;
   padding: 50px 15px 20px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1024px;
}
#news > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#news > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#news > .row > .col-1
{
   float: left;
}
#news > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#news:before,
#news:after,
#news .row:before,
#news .row:after
{
   display: table;
   content: " ";
}
#news:after,
#news .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#news > .row > .col-1
{
   float: none;
   width: 100%;
}
}
#wb_about
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #303030;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#about
{
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1024px;
}
#about > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#about > .row > .col-1, #about > .row > .col-2, #about > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#about > .row > .col-1, #about > .row > .col-2, #about > .row > .col-3
{
   float: left;
}
#about > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: left;
}
#about > .row > .col-1 > .col-1-padding
{
   padding: 50px 0px 50px 0px;
}
#about > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: right;
}
#about > .row > .col-2 > .col-2-padding
{
   padding: 50px 0px 50px 0px;
}
#about > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: left;
}
#about > .row > .col-3 > .col-3-padding
{
   padding: 50px 0px 50px 0px;
}
#about:before,
#about:after,
#about .row:before,
#about .row:after
{
   display: table;
   content: " ";
}
#about:after,
#about .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#about > .row > .col-1, #about > .row > .col-2, #about > .row > .col-3
{
   float: none;
   width: 100% !important;
}
}
#wb_contact
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #202020;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#contact
{
   box-sizing: border-box;
   padding: 40px 15px 40px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1024px;
}
#contact > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#contact > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#contact > .row > .col-1
{
   float: left;
}
#contact > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#contact:before,
#contact:after,
#contact .row:before,
#contact .row:after
{
   display: table;
   content: " ";
}
#contact:after,
#contact .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#contact > .row > .col-1
{
   float: none;
   width: 100%;
}
}
.navigationMenu .hide 
{
   display: none!important;
}
.navigationMenu .show 
{
   display: block!important;
}
.navigationMenu .hidden
{
   display: none!important;
   visibility: hidden!important;
}
.navigationMenu .nav
{
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   font-style: normal;
   color: #777777;
   text-align: left;
}
#navigationMenu, .navigationMenu .nav, .navigationMenu *
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   line-height: 1;
   list-style: none;
}
.navigationMenu .nav:before,
.navigationMenu .nav:after 
{
   content: " ";
   display: table;
}
.navigationMenu .nav:after 
{
   clear: both;
}
.navigationMenu .nav a 
{
   text-decoration: none;
}
.navigationMenu .nav ul
{
   margin-top: 0;
   margin-bottom: 10px;
}
.navigationMenu .nav ul ul
{
   margin-bottom: 0;
}
.navigationMenu .container 
{
   margin-right: auto;
   margin-left: auto;
   padding: 0;
}
.navigationMenu .container:before,
.navigationMenu .container:after 
{
   content: " ";
   display: table;
}
.navigationMenu .container:after 
{
   clear: both;
}
.navigationMenu .collapse 
{
   display: none;
}
.navigationMenu .collapse.in 
{
   display: block;
}
.navigationMenu .collapsing 
{
   position: relative;
   height: 0;
   overflow: hidden;
   -webkit-transition: height .35s ease;
   transition: height .35s ease;
}
.navigationMenu .caret 
{
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 4px;
   vertical-align: middle;
   border-top: 4px solid #000;
   border-right: 4px solid transparent;
   border-left: 4px solid transparent;
   border-bottom: 0 dotted;
}
.navigationMenu .dropdown 
{
   position: relative;
}
.navigationMenu .dropdown-toggle:focus 
{
   outline: 0;
}
.navigationMenu .dropdown-menu 
{
   position: absolute;
   top: 100%;
   left: 0;
   z-index: 1000;
   display: none;
   float: left;
   min-width: 160px;
   padding: 5px 0;
   margin: 2px 0 0;
   list-style: none;
   font-size: 13px;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid rgba(197,197,197,1.00);
   border-radius: 0px;
   background-clip: padding-box;
}
.navigationMenu .dropdown-menu .divider 
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #C5C5C5;
}
.navigationMenu .dropdown-menu>li>a 
{
   display: block;
   padding: 3px 20px 3px 20px;
   clear: both;
   line-height: 1.428571429;
   color: #777777;
   white-space: nowrap;
}
.navigationMenu .dropdown-menu>li>a:hover,
.navigationMenu .dropdown-menu>li>a:focus 
{
   text-decoration: none;
   color: #2B2B2B;
   background-color: #EDEDED;
   background-image: none;
}
.navigationMenu .dropdown-menu>.active>a,
.navigationMenu .dropdown-menu>.active>a:hover,
.navigationMenu .dropdown-menu>.active>a:focus 
{
   color: #fff;
   text-decoration: none;
   outline: 0;
   background-color: #343A40;
}
.navigationMenu .open>.dropdown-menu 
{
   display: block;
}
.navigationMenu .open>a 
{
   outline: 0;
}
.navigationMenu .dropdown-header 
{
   display: block;
   padding: 3px 20px;
   line-height: 1.428571429;
   color: #aeaeae;
}
.navigationMenu .dropdown-backdrop 
{
   position: fixed;
   left: 0;
   right: 0;
   bottom: 0;
   top: 0;
   z-index: 990;
}
.navigationMenu .nav>li 
{
   position: relative;
   display: block;
}
.navigationMenu .nav>li>a 
{
   position: relative;
   display: block;
   padding: 10px 15px 10px 15px;
}
.navigationMenu .nav .open>a,
.navigationMenu .nav .open>a:hover,
.navigationMenu .nav .open>a:focus 
{
   background-color: #ccc;
   border-color: #343A40;
}
.navigationMenu .nav .nav-divider 
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #C5C5C5;
}
.navigationMenu .nav>li>a>img 
{
   max-width: none;
}
.navigationMenu .nav .caret 
{
   border-top-color: #343A40;
   border-bottom-color: #343A40;
}
.navigationMenu
{
   position: relative;
   border: 1px solid transparent;
   background-color: transparent;
   background-image: none;
}
.navigationMenu:before,
.navigationMenu:after 
{
   content: " ";
   display: table;
}
.navigationMenu:after 
{
   clear: both;
}
.navigationMenu .navbar-header:before,
.navigationMenu .navbar-header:after 
{
   content: " ";
   display: table;
}
.navigationMenu .navbar-header:after 
{
   clear: both;
}
.navigationMenu-navbar-collapse 
{
   overflow-x: visible;
   -webkit-overflow-scrolling: touch;
}
.navigationMenu-navbar-collapse:before,
.navigationMenu-navbar-collapse:after 
{
   content: " ";
   display: table;
}
.navigationMenu-navbar-collapse:after 
{
   clear: both;
}
.navigationMenu-navbar-collapse.in 
{
   overflow-y: auto;
}
.navigationMenu .navbar-toggle 
{
   position: relative;
   float: right;
   padding: 9px 10px 8px 10px;
   background-color: transparent;
   border: 1px solid transparent;
   border-radius: 0px;
}
.navigationMenu .navbar-toggle .icon-bar 
{
   display: block;
   width: 22px;
   height: 2px;
   border-radius: 1px;
}
.navigationMenu .navbar-toggle .icon-bar+.icon-bar 
{
   margin-top: 4px;
}
.navigationMenu .navbar-nav 
{
   margin: 6px -15px;
}
.navigationMenu .navbar-nav>li>.dropdown-menu 
{
   margin-top: 0;
}
.navigationMenu .navbar-nav>li>a 
{
   color: #777777;
}
.navigationMenu .navbar-nav>li>a:hover,
.navigationMenu .navbar-nav>li>a:focus 
{
   background-color: #EDEDED;
   background-image: none;
   color: #2B2B2B;
   text-decoration: none;
}
.navigationMenu .navbar-nav>.active>a,
.navigationMenu .navbar-nav>.active>a:hover,
.navigationMenu .navbar-nav>.active>a:focus 
{
   color: #2B2B2B;
   background-color: #EDEDED;
   background-image: none;
}
.navigationMenu .navbar-toggle 
{
   border: 1px solid rgba(43,43,43,0.10);
}
.navigationMenu .navbar-toggle:hover,
.navigationMenu .navbar-toggle:focus 
{
   background-color: transparent;
}
.navigationMenu .navbar-toggle .icon-bar 
{
   background-color: #28A7E9;
}
.navigationMenu-navbar-collapse
{
   border-color: rgba(197,197,197,1.00);
}
.navigationMenu .navbar-nav>.dropdown>a:hover .caret,
.navigationMenu .navbar-nav>.dropdown>a:focus .caret 
{
   border-top-color: #2B2B2B;
   border-bottom-color: #2B2B2B;
}
.navigationMenu .navbar-nav>.open>a,
.navigationMenu .navbar-nav>.open>a:hover,
.navigationMenu .navbar-nav>.open>a:focus 
{
   background-color: #EDEDED;
   background-image: none;
   color: #2B2B2B;
}
.navigationMenu .navbar-nav>.open>a .caret,
.navigationMenu .navbar-nav>.open>a:hover .caret,
.navigationMenu .navbar-nav>.open>a:focus .caret 
{
   border-top-color: #2B2B2B;
   border-bottom-color: #2B2B2B;
}
.navigationMenu .navbar-nav>.dropdown>a .caret 
{
   border-top-color: #777777;
   border-bottom-color: #777777;
}
.navigationMenu .navbar-link 
{
   color: #777777;
}
.navigationMenu .navbar-link:hover 
{
   color: #2B2B2B;
}
.navigationMenu .navbar-header
{
   color: #28A7E9;
   height: 35px;
}
@media (min-width: 480px) 
{
.navigationMenu .navbar-right .dropdown-menu 
{
   right: 0;
   left: auto;
}
.navigationMenu .navbar-header 
{
   float: left;
}
.navigationMenu-navbar-collapse 
{
   width: auto;
   border-top: 0;
   box-shadow: none;
}
.navigationMenu-navbar-collapse.collapse 
{
   display: block!important;
   height: auto!important;
   padding-bottom: 0;
   overflow: visible!important;
}
.navigationMenu-navbar-collapse.in 
{
   overflow-y: auto;
}
.navigationMenu .navbar-toggle
{
   display: none;
}
.navigationMenu .navbar-nav 
{
   float: right;
   margin: 0;
}
.navigationMenu .navbar-nav>li 
{
   float: left;
}
.navigationMenu .container>.navbar-header,
.navigationMenu .container>.navigationMenu-navbar-collapse 
{
   margin-right: 0;
   margin-left: 0;
}
.navigationMenu .navbar-nav>.dropdown>a:hover .caret,
.navigationMenu .navbar-nav>.dropdown>a:focus .caret 
{
   border-top-color: #28A7E9;
   border-bottom-color: #28A7E9;
}
}
@media (max-width: 480px) 
{
.navigationMenu 
{
   border-color: rgba(255,255,255,0.00);
}
.navigationMenu .navbar-nav 
{
   margin: 0;
   background-color: #FFFFFF;
   background-image: none;
}
.navigationMenu .navbar-nav .open .dropdown-menu 
{
   position: static;
   float: none;
   width: auto;
   margin-top: 0;
   background-color: transparent;
   border: 0;
   box-shadow: none;
}
.navigationMenu .navbar-nav .open .dropdown-menu>li>a,
.navigationMenu .navbar-nav .open .dropdown-menu .dropdown-header 
{
   padding: 5px 15px 5px 25px;
}
.navigationMenu .navbar-nav .open .dropdown-menu>li>a 
{
   line-height: 20px;
}
.navigationMenu .navbar-nav .open .dropdown-menu>li>a:hover,
.navigationMenu .navbar-nav .open .dropdown-menu>li>a:focus 
{
   background-image: none;
}
}
@media (min-width: 480px) 
{
.navigationMenu 
{
   background-color: transparent;
   background-image: none;
   border-color: rgba(255,255,255,0.00);
   border-radius: 0px;
}
.navigationMenu .navbar-nav>li>a 
{
   color: #28A7E9;
}
.navigationMenu .navbar-nav>li>a:hover,
.navigationMenu .navbar-nav>li>a:focus 
{
   color: #28A7E9;
   background-color: #343A40;
   background-image: none;
}
.navigationMenu .navbar-nav>.active>a,
.navigationMenu .navbar-nav>.active>a:hover,
.navigationMenu .navbar-nav>.active>a:focus 
{
   color: #28A7E9;
   background-color: #343A40;
   background-image: none;
}
.navigationMenu .navbar-nav>.open>a,
.navigationMenu .navbar-nav>.open>a:hover,
.navigationMenu .navbar-nav>.open>a:focus 
{
   background-color: #343A40;
   background-image: none;
   color: #28A7E9;
}
.navigationMenu .navbar-nav>.dropdown>a:hover .caret 
{
   border-top-color: #28A7E9;
   border-bottom-color: #28A7E9;
}
.navigationMenu .navbar-nav>.dropdown>a .caret
{
   border-top-color: #28A7E9;
   border-bottom-color: #28A7E9;
}
.navigationMenu .navbar-nav > li.active > a > .caret,
.navigationMenu .navbar-nav > li.active > a:hover > .caret,
.navigationMenu .navbar-nav > li.active > a:focus > .caret
{
   border-top-color: #28A7E9;
   border-bottom-color: #28A7E9;
}
.navigationMenu .navbar-nav>.open>a .caret,
.navigationMenu .navbar-nav>.open>a:hover .caret,
.navigationMenu .navbar-nav>.open>a:focus .caret 
{
   border-top-color: #28A7E9;
   border-bottom-color: #28A7E9;
}
.navigationMenu .navbar-link 
{
   color: #28A7E9;
}
.navigationMenu .navbar-link:hover 
{
   color: #fff;
}
}
#navigationMenu i
{
   font-size: 16px;
   position: relative;
   left: 0;
   top: 0;
   margin-right: 4px;
   width: 16px;
}
#wb_contactForm
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #202020;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#contactForm
{
   box-sizing: border-box;
   padding: 50px 15px 50px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1024px;
}
#contactForm > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#contactForm > .row > .col-1, #contactForm > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#contactForm > .row > .col-1, #contactForm > .row > .col-2
{
   float: left;
}
#contactForm > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 50%;
   text-align: left;
}
#contactForm > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #ECF0F1;
   width: 50%;
   text-align: left;
}
#contactForm:before,
#contactForm:after,
#contactForm .row:before,
#contactForm .row:after
{
   display: table;
   content: " ";
}
#contactForm:after,
#contactForm .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#contactForm > .row > .col-1, #contactForm > .row > .col-2
{
   float: none;
   width: 100% !important;
}
}
#StickyLayer
{
   background-color: #28A7E9;
   background-image: none;
   opacity: 0.77;
}
#wb_up-arrow
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #3E3E3E;
   text-align: center;
   margin: 0;
   padding: 4px 4px 4px 4px;
   vertical-align: top;
}
#wb_up-arrow:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #3E3E3E;
}
#up-arrow
{
   height: 24px;
   width: 24px;
}
#up-arrow i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 24px;
   line-height: 24px;
   vertical-align: middle;
   width: 14px;
}
#wb_up-arrow:hover i
{
   color: #EEEEEE;
}
#wb_navigationHeading
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: left;
}
#navigationHeading
{
   color: #777777;
   font-family: Arial;
   font-weight: bold;
   font-size: 21px;
   margin: 0;
   text-align: left;
}
#wb_footerText 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 12px 0px 12px 0px;
   margin: 0;
   text-align: center;
}
#wb_footerText
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 12px;
   line-height: 13.5px;
}
#wb_footerText p, #wb_footerText ul
{
   margin: 0;
   padding: 0;
}
#wb_footer
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #303030;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#footer
{
   box-sizing: border-box;
   padding: 20px 15px 20px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1024px;
}
#footer > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#footer > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#footer > .row > .col-1
{
   float: left;
}
#footer > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#footer:before,
#footer:after,
#footer .row:before,
#footer .row:after
{
   display: table;
   content: " ";
}
#footer:after,
#footer .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#footer > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_welcomeHeading
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: center;
}
#welcomeHeading
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 32px;
   margin: 0;
   text-align: center;
}
#wb_contactHeadingText 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_contactHeadingText
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 32px;
   line-height: 36px;
}
#wb_contactHeadingText p, #wb_contactHeadingText ul
{
   margin: 0;
   padding: 0;
}
#welcomeButton
{
   line-height: 35px;
   text-align: center;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #FFFFFF;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   -webkit-appearance: none;
   margin: 0;
}
#wb_welcomeJavaScript
{
   margin: 20px 0px 20px 0px;
}
#wb_contactText 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_contactText
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 15px;
   line-height: 22px;
}
#wb_contactText p, #wb_contactText ul
{
   margin: 0;
   padding: 0;
}
#wb_newsHeading
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: center;
}
#newsHeading
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 27px;
   margin: 0;
   text-align: center;
}
#InlineFrame1
{
   border: 1px solid #C0C0C0;
   margin: 0;
}
#InlineFrame1
{
   display: block;
   float: left;
   width: 100%;
   height: 382px;
   vertical-align: top;
}
#Article1
{
   background-color: transparent;
   border: 1px solid #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.2;
   margin: 0;
   text-align: left;
   display: inline-block;
   position: relative;
   width: 100%;
}
#Article1 .blogitem
{
   margin-bottom: 6px;
   padding: 0px;
   text-align: left;
}
#Article1 .blogdate
{
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   color: #000000;
}
#Article1 .blogsubject, #Article1 .blogsubject a:link, #Article1 .blogsubject a:visited, #Article1 .blogsubject a:hover
{
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   color: #666666;
   text-decoration: none;
}
#Article1 .blogcomments, #Article1 .blogcomments a:link, #Article1 .blogcomments a:visited, #Article1 .blogcomments a:hover
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   color: #000000;
   text-decoration: underline;
}
#Article1 .blogcomments
{
   text-decoration: none;
}
#Article1 .no-thumb
{
   display: none;
}
#Article1 .blogsubject
{
   display: block;
   margin: 0;
   padding: 0;
}
#Article1 .blogthumb
{
   margin: 0 0 5px 0;
   float: right;
   padding: 0 5px 0 0;
}
#Article1 .blogthumb img
{
   border-width: 0px;
   width: 120px;
   height: auto;
   margin: 0px 0px 0px 0px;
}
#Article1 .blogdate, #Article1 .blogcomments
{
   display: none;
}
#Article1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   font-family: Arial;
   font-weight: normal;
   margin: 0;
}
#Article2
{
   background-color: transparent;
   border: 1px solid #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.2;
   margin: 0;
   text-align: left;
   display: inline-block;
   position: relative;
   width: 100%;
}
#Article2 .blogitem
{
   margin-bottom: 6px;
   padding: 0px;
   text-align: left;
}
#Article2 .blogdate
{
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   color: #000000;
}
#Article2 .blogsubject, #Article2 .blogsubject a:link, #Article2 .blogsubject a:visited, #Article2 .blogsubject a:hover
{
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   color: #666666;
   text-decoration: none;
}
#Article2 .blogcomments, #Article2 .blogcomments a:link, #Article2 .blogcomments a:visited, #Article2 .blogcomments a:hover
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   color: #000000;
   text-decoration: underline;
}
#Article2 .blogcomments
{
   text-decoration: none;
}
#Article2 .no-thumb
{
   display: none;
}
#Article2 .blogsubject
{
   display: block;
   margin: 0;
   padding: 0;
}
#Article2 .blogthumb
{
   margin: 0 0 5px 0;
   float: right;
   padding: 0 5px 0 0;
}
#Article2 .blogthumb img
{
   border-width: 0px;
   width: 120px;
   height: auto;
   margin: 0px 0px 0px 0px;
}
#Article2 .blogdate, #Article2 .blogcomments
{
   display: none;
}
#Article2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   font-family: Arial;
   font-weight: normal;
   margin: 0;
}
#Article3
{
   background-color: transparent;
   border: 1px solid #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.2;
   margin: 0;
   text-align: left;
   display: inline-block;
   position: relative;
   width: 100%;
}
#Article3 .blogitem
{
   margin-bottom: 6px;
   padding: 0px;
   text-align: left;
}
#Article3 .blogdate
{
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   color: #000000;
}
#Article3 .blogsubject, #Article3 .blogsubject a:link, #Article3 .blogsubject a:visited, #Article3 .blogsubject a:hover
{
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   color: #666666;
   text-decoration: none;
}
#Article3 .blogcomments, #Article3 .blogcomments a:link, #Article3 .blogcomments a:visited, #Article3 .blogcomments a:hover
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   color: #000000;
   text-decoration: underline;
}
#Article3 .blogcomments
{
   text-decoration: none;
}
#Article3 .no-thumb
{
   display: none;
}
#Article3 .blogsubject
{
   display: block;
   margin: 0;
   padding: 0;
}
#Article3 .blogthumb
{
   margin: 0 0 5px 0;
   float: right;
   padding: 0 5px 0 0;
}
#Article3 .blogthumb img
{
   border-width: 0px;
   width: 120px;
   height: auto;
   margin: 0px 0px 0px 0px;
}
#Article3 .blogdate, #Article3 .blogcomments
{
   display: none;
}
#Article3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   font-family: Arial;
   font-weight: normal;
   margin: 0;
}
#Article4
{
   background-color: transparent;
   border: 1px solid #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.2;
   margin: 0;
   text-align: left;
   display: inline-block;
   position: relative;
   width: 100%;
}
#Article4 .blogitem
{
   margin-bottom: 6px;
   padding: 0px;
   text-align: left;
}
#Article4 .blogdate
{
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   color: #000000;
}
#Article4 .blogsubject, #Article4 .blogsubject a:link, #Article4 .blogsubject a:visited, #Article4 .blogsubject a:hover
{
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   color: #666666;
   text-decoration: none;
}
#Article4 .blogcomments, #Article4 .blogcomments a:link, #Article4 .blogcomments a:visited, #Article4 .blogcomments a:hover
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   color: #000000;
   text-decoration: underline;
}
#Article4 .blogcomments
{
   text-decoration: none;
}
#Article4 .no-thumb
{
   display: none;
}
#Article4 .blogsubject
{
   display: block;
   margin: 0;
   padding: 0;
}
#Article4 .blogthumb
{
   margin: 0 0 5px 0;
   float: right;
   padding: 0 5px 0 0;
}
#Article4 .blogthumb img
{
   border-width: 0px;
   width: 120px;
   height: auto;
   margin: 0px 0px 0px 0px;
}
#Article4 .blogdate, #Article4 .blogcomments
{
   display: none;
}
#Article4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   font-family: Arial;
   font-weight: normal;
   margin: 0;
}
#Article5
{
   background-color: transparent;
   border: 1px solid #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.2;
   margin: 0;
   text-align: left;
   display: inline-block;
   position: relative;
   width: 100%;
}
#Article5 .blogitem
{
   margin-bottom: 6px;
   padding: 0px;
   text-align: left;
}
#Article5 .blogdate
{
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   color: #000000;
}
#Article5 .blogsubject, #Article5 .blogsubject a:link, #Article5 .blogsubject a:visited, #Article5 .blogsubject a:hover
{
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   color: #666666;
   text-decoration: none;
}
#Article5 .blogcomments, #Article5 .blogcomments a:link, #Article5 .blogcomments a:visited, #Article5 .blogcomments a:hover
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   color: #000000;
   text-decoration: underline;
}
#Article5 .blogcomments
{
   text-decoration: none;
}
#Article5 .no-thumb
{
   display: none;
}
#Article5 .blogsubject
{
   display: block;
   margin: 0;
   padding: 0;
}
#Article5 .blogthumb
{
   margin: 0 0 5px 0;
   float: right;
   padding: 0 5px 0 0;
}
#Article5 .blogthumb img
{
   border-width: 0px;
   width: 120px;
   height: auto;
   margin: 0px 0px 0px 0px;
}
#Article5 .blogdate, #Article5 .blogcomments
{
   display: none;
}
#Article5
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   font-family: Arial;
   font-weight: normal;
   margin: 0;
}
#Article6
{
   background-color: transparent;
   border: 1px solid #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.2;
   margin: 0;
   text-align: left;
   display: inline-block;
   position: relative;
   width: 100%;
}
#Article6 .blogitem
{
   margin-bottom: 6px;
   padding: 0px;
   text-align: left;
}
#Article6 .blogdate
{
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   color: #000000;
}
#Article6 .blogsubject, #Article6 .blogsubject a:link, #Article6 .blogsubject a:visited, #Article6 .blogsubject a:hover
{
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   color: #666666;
   text-decoration: none;
}
#Article6 .blogcomments, #Article6 .blogcomments a:link, #Article6 .blogcomments a:visited, #Article6 .blogcomments a:hover
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   color: #000000;
   text-decoration: underline;
}
#Article6 .blogcomments
{
   text-decoration: none;
}
#Article6 .no-thumb
{
   display: none;
}
#Article6 .blogsubject
{
   display: block;
   margin: 0;
   padding: 0;
}
#Article6 .blogthumb
{
   margin: 0 0 5px 0;
   float: right;
   padding: 0 5px 0 0;
}
#Article6 .blogthumb img
{
   border-width: 0px;
   width: 120px;
   height: auto;
   margin: 0px 0px 0px 0px;
}
#Article6 .blogdate, #Article6 .blogcomments
{
   display: none;
}
#Article6
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   font-family: Arial;
   font-weight: normal;
   margin: 0;
}
#Article7
{
   background-color: transparent;
   border: 1px solid #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.2;
   margin: 0;
   text-align: left;
   display: inline-block;
   position: relative;
   width: 100%;
}
#Article7 .blogitem
{
   margin-bottom: 6px;
   padding: 0px;
   text-align: left;
}
#Article7 .blogdate
{
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   color: #000000;
}
#Article7 .blogsubject, #Article7 .blogsubject a:link, #Article7 .blogsubject a:visited, #Article7 .blogsubject a:hover
{
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   color: #666666;
   text-decoration: none;
}
#Article7 .blogcomments, #Article7 .blogcomments a:link, #Article7 .blogcomments a:visited, #Article7 .blogcomments a:hover
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   color: #000000;
   text-decoration: underline;
}
#Article7 .blogcomments
{
   text-decoration: none;
}
#Article7 .no-thumb
{
   display: none;
}
#Article7 .blogsubject
{
   display: block;
   margin: 0;
   padding: 0;
}
#Article7 .blogthumb
{
   margin: 0 0 5px 0;
   float: right;
   padding: 0 5px 0 0;
}
#Article7 .blogthumb img
{
   border-width: 0px;
   width: 120px;
   height: auto;
   margin: 0px 0px 0px 0px;
}
#Article7 .blogdate, #Article7 .blogcomments
{
   display: none;
}
#Article7
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   font-family: Arial;
   font-weight: normal;
   margin: 0;
}
#Article8
{
   background-color: transparent;
   border: 1px solid #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.2;
   margin: 0;
   text-align: left;
   display: inline-block;
   position: relative;
   width: 100%;
}
#Article8 .blogitem
{
   margin-bottom: 6px;
   padding: 0px;
   text-align: left;
}
#Article8 .blogdate
{
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   color: #000000;
}
#Article8 .blogsubject, #Article8 .blogsubject a:link, #Article8 .blogsubject a:visited, #Article8 .blogsubject a:hover
{
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   color: #666666;
   text-decoration: none;
}
#Article8 .blogcomments, #Article8 .blogcomments a:link, #Article8 .blogcomments a:visited, #Article8 .blogcomments a:hover
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   color: #000000;
   text-decoration: underline;
}
#Article8 .blogcomments
{
   text-decoration: none;
}
#Article8 .no-thumb
{
   display: none;
}
#Article8 .blogsubject
{
   display: block;
   margin: 0;
   padding: 0;
}
#Article8 .blogthumb
{
   margin: 0 0 5px 0;
   float: right;
   padding: 0 5px 0 0;
}
#Article8 .blogthumb img
{
   border-width: 0px;
   width: 120px;
   height: auto;
   margin: 0px 0px 0px 0px;
}
#Article8 .blogdate, #Article8 .blogcomments
{
   display: none;
}
#Article8
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   font-family: Arial;
   font-weight: normal;
   margin: 0;
}
#Article9
{
   background-color: transparent;
   border: 1px solid #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.2;
   margin: 0;
   text-align: left;
   display: inline-block;
   position: relative;
   width: 100%;
}
#Article9 .blogitem
{
   margin-bottom: 6px;
   padding: 0px;
   text-align: left;
}
#Article9 .blogdate
{
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   color: #000000;
}
#Article9 .blogsubject, #Article9 .blogsubject a:link, #Article9 .blogsubject a:visited, #Article9 .blogsubject a:hover
{
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   color: #666666;
   text-decoration: none;
}
#Article9 .blogcomments, #Article9 .blogcomments a:link, #Article9 .blogcomments a:visited, #Article9 .blogcomments a:hover
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   color: #000000;
   text-decoration: underline;
}
#Article9 .blogcomments
{
   text-decoration: none;
}
#Article9 .no-thumb
{
   display: none;
}
#Article9 .blogsubject
{
   display: block;
   margin: 0;
   padding: 0;
}
#Article9 .blogthumb
{
   margin: 0 0 5px 0;
   float: right;
   padding: 0 5px 0 0;
}
#Article9 .blogthumb img
{
   border-width: 0px;
   width: 120px;
   height: auto;
   margin: 0px 0px 0px 0px;
}
#Article9 .blogdate, #Article9 .blogcomments
{
   display: none;
}
#Article9
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   font-family: Arial;
   font-weight: normal;
   margin: 0;
}
#Article10
{
   background-color: transparent;
   border: 1px solid #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.2;
   margin: 0;
   text-align: left;
   display: inline-block;
   position: relative;
   width: 100%;
}
#Article10 .blogitem
{
   margin-bottom: 6px;
   padding: 0px;
   text-align: left;
}
#Article10 .blogdate
{
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   color: #000000;
}
#Article10 .blogsubject, #Article10 .blogsubject a:link, #Article10 .blogsubject a:visited, #Article10 .blogsubject a:hover
{
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   color: #666666;
   text-decoration: none;
}
#Article10 .blogcomments, #Article10 .blogcomments a:link, #Article10 .blogcomments a:visited, #Article10 .blogcomments a:hover
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   color: #000000;
   text-decoration: underline;
}
#Article10 .blogcomments
{
   text-decoration: none;
}
#Article10 .no-thumb
{
   display: none;
}
#Article10 .blogsubject
{
   display: block;
   margin: 0;
   padding: 0;
}
#Article10 .blogthumb
{
   margin: 0 0 5px 0;
   float: right;
   padding: 0 5px 0 0;
}
#Article10 .blogthumb img
{
   border-width: 0px;
   width: 120px;
   height: auto;
   margin: 0px 0px 0px 0px;
}
#Article10 .blogdate, #Article10 .blogcomments
{
   display: none;
}
#Article10
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   font-family: Arial;
   font-weight: normal;
   margin: 0;
}
#Article11
{
   background-color: transparent;
   border: 1px solid #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.2;
   margin: 0;
   text-align: left;
   display: inline-block;
   position: relative;
   width: 100%;
}
#Article11 .blogitem
{
   margin-bottom: 6px;
   padding: 0px;
   text-align: left;
}
#Article11 .blogdate
{
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   color: #000000;
}
#Article11 .blogsubject, #Article11 .blogsubject a:link, #Article11 .blogsubject a:visited, #Article11 .blogsubject a:hover
{
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   color: #666666;
   text-decoration: none;
}
#Article11 .blogcomments, #Article11 .blogcomments a:link, #Article11 .blogcomments a:visited, #Article11 .blogcomments a:hover
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   color: #000000;
   text-decoration: underline;
}
#Article11 .blogcomments
{
   text-decoration: none;
}
#Article11 .no-thumb
{
   display: none;
}
#Article11 .blogsubject
{
   display: block;
   margin: 0;
   padding: 0;
}
#Article11 .blogthumb
{
   margin: 0 0 5px 0;
   float: right;
   padding: 0 5px 0 0;
}
#Article11 .blogthumb img
{
   border-width: 0px;
   width: 120px;
   height: auto;
   margin: 0px 0px 0px 0px;
}
#Article11 .blogdate, #Article11 .blogcomments
{
   display: none;
}
#Article11
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   font-family: Arial;
   font-weight: normal;
   margin: 0;
}
#Article12
{
   background-color: transparent;
   border: 1px solid #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.2;
   margin: 0;
   text-align: left;
   display: inline-block;
   position: relative;
   width: 100%;
}
#Article12 .blogitem
{
   margin-bottom: 6px;
   padding: 0px;
   text-align: left;
}
#Article12 .blogdate
{
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   color: #000000;
}
#Article12 .blogsubject, #Article12 .blogsubject a:link, #Article12 .blogsubject a:visited, #Article12 .blogsubject a:hover
{
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   color: #666666;
   text-decoration: none;
}
#Article12 .blogcomments, #Article12 .blogcomments a:link, #Article12 .blogcomments a:visited, #Article12 .blogcomments a:hover
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   color: #000000;
   text-decoration: underline;
}
#Article12 .blogcomments
{
   text-decoration: none;
}
#Article12 .no-thumb
{
   display: none;
}
#Article12 .blogsubject
{
   display: block;
   margin: 0;
   padding: 0;
}
#Article12 .blogthumb
{
   margin: 0 0 5px 0;
   float: right;
   padding: 0 5px 0 0;
}
#Article12 .blogthumb img
{
   border-width: 0px;
   width: 120px;
   height: auto;
   margin: 0px 0px 0px 0px;
}
#Article12 .blogdate, #Article12 .blogcomments
{
   display: none;
}
#Article12
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   font-family: Arial;
   font-weight: normal;
   margin: 0;
}
#Article13
{
   background-color: transparent;
   border: 1px solid #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.2;
   margin: 0;
   text-align: left;
   display: inline-block;
   position: relative;
   width: 100%;
}
#Article13 .blogitem
{
   margin-bottom: 6px;
   padding: 0px;
   text-align: left;
}
#Article13 .blogdate
{
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   color: #000000;
}
#Article13 .blogsubject, #Article13 .blogsubject a:link, #Article13 .blogsubject a:visited, #Article13 .blogsubject a:hover
{
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   color: #666666;
   text-decoration: none;
}
#Article13 .blogcomments, #Article13 .blogcomments a:link, #Article13 .blogcomments a:visited, #Article13 .blogcomments a:hover
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   color: #000000;
   text-decoration: underline;
}
#Article13 .blogcomments
{
   text-decoration: none;
}
#Article13 .no-thumb
{
   display: none;
}
#Article13 .blogsubject
{
   display: block;
   margin: 0;
   padding: 0;
}
#Article13 .blogthumb
{
   margin: 0 0 5px 0;
   float: right;
   padding: 0 5px 0 0;
}
#Article13 .blogthumb img
{
   border-width: 0px;
   width: 120px;
   height: auto;
   margin: 0px 0px 0px 0px;
}
#Article13 .blogdate, #Article13 .blogcomments
{
   display: none;
}
#Article13
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   font-family: Arial;
   font-weight: normal;
   margin: 0;
}
#Article14
{
   background-color: transparent;
   border: 1px solid #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.2;
   margin: 0;
   text-align: left;
   display: inline-block;
   position: relative;
   width: 100%;
}
#Article14 .blogitem
{
   margin-bottom: 6px;
   padding: 0px;
   text-align: left;
}
#Article14 .blogdate
{
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   color: #000000;
}
#Article14 .blogsubject, #Article14 .blogsubject a:link, #Article14 .blogsubject a:visited, #Article14 .blogsubject a:hover
{
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   color: #666666;
   text-decoration: none;
}
#Article14 .blogcomments, #Article14 .blogcomments a:link, #Article14 .blogcomments a:visited, #Article14 .blogcomments a:hover
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   color: #000000;
   text-decoration: underline;
}
#Article14 .blogcomments
{
   text-decoration: none;
}
#Article14 .no-thumb
{
   display: none;
}
#Article14 .blogsubject
{
   display: block;
   margin: 0;
   padding: 0;
}
#Article14 .blogthumb
{
   margin: 0 0 5px 0;
   float: right;
   padding: 0 5px 0 0;
}
#Article14 .blogthumb img
{
   border-width: 0px;
   width: 120px;
   height: auto;
   margin: 0px 0px 0px 0px;
}
#Article14 .blogdate, #Article14 .blogcomments
{
   display: none;
}
#Article14
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   font-family: Arial;
   font-weight: normal;
   margin: 0;
}
#Article15
{
   background-color: transparent;
   border: 1px solid #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.2;
   margin: 0;
   text-align: left;
   display: inline-block;
   position: relative;
   width: 100%;
}
#Article15 .blogitem
{
   margin-bottom: 6px;
   padding: 0px;
   text-align: left;
}
#Article15 .blogdate
{
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   color: #000000;
}
#Article15 .blogsubject, #Article15 .blogsubject a:link, #Article15 .blogsubject a:visited, #Article15 .blogsubject a:hover
{
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   color: #666666;
   text-decoration: none;
}
#Article15 .blogcomments, #Article15 .blogcomments a:link, #Article15 .blogcomments a:visited, #Article15 .blogcomments a:hover
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   color: #000000;
   text-decoration: underline;
}
#Article15 .blogcomments
{
   text-decoration: none;
}
#Article15 .no-thumb
{
   display: none;
}
#Article15 .blogsubject
{
   display: block;
   margin: 0;
   padding: 0;
}
#Article15 .blogthumb
{
   margin: 0 0 5px 0;
   float: right;
   padding: 0 5px 0 0;
}
#Article15 .blogthumb img
{
   border-width: 0px;
   width: 120px;
   height: auto;
   margin: 0px 0px 0px 0px;
}
#Article15 .blogdate, #Article15 .blogcomments
{
   display: none;
}
#Article15
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   font-family: Arial;
   font-weight: normal;
   margin: 0;
}
#Article5
{
   overflow: hidden;
}
#Article10
{
   overflow: hidden;
}
#wb_welcomeHeading
{
   display: inline-block;
   width: 100%;
   z-index: 2;
}
#Article11
{
   overflow: hidden;
}
#Article4
{
   overflow: hidden;
}
#Article3
{
   overflow: hidden;
}
#Article2
{
   overflow: hidden;
}
#wb_welcomeJavaScript
{
   display: inline-block;
   width: 100%;
   z-index: 3;
}
#Article14
{
   overflow: hidden;
}
#Article1
{
   overflow: hidden;
}
#wb_up-arrow
{
   position: absolute;
   left: 9px;
   top: 8px;
   width: 24px;
   height: 24px;
   text-align: center;
   z-index: 24;
}
#Article15
{
   overflow: hidden;
}
#wb_newsHeading
{
   display: inline-block;
   width: 100%;
   z-index: 5;
}
#typewriter-text
{
   border-right: 0.08em solid #FFFFFF;
}
#wb_navigationHeading
{
   display: inline-block;
   width: 100%;
   z-index: 0;
}
#welcomeButton
{
   display: inline-block;
   width: 139px;
   height: 35px;
   z-index: 4;
}
#StickyLayer
{
   position: fixed;
   text-align: left;
   left: auto;
   right: 25px;
   top: auto;
   bottom: 25px;
   width: 50px;
   height: 50px;
   z-index: 32;
   z-index: 99999;
}
#Article9
{
   overflow: hidden;
}
#typewriter-deluxe
{
   color: #FFFFFF;
   font-size: 16px;
   font-family: "Arial";
   font-weight: normal;
   font-style: normal;
   text-align: center;
   text-decoration: none;
}
#Article8
{
   overflow: hidden;
}
#wb_footer
{
   z-index: 10000 !important;
}
#Article12
{
   overflow: hidden;
}
#Article7
{
   overflow: hidden;
}
#Article6
{
   overflow: hidden;
}
#Article13
{
   overflow: hidden;
}
#wb_navigationMenu
{
   display: inline-block;
   width: 100%;
   z-index: 1001;
}
@media only screen and (max-width: 969px)
{
body
{
   background-color: #000000;
   background-image: none;
}
#wb_navigation
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FFFFFF;
   background-image: none;
}
#wb_navigation
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#navigation
{
   padding: 20px 15px 20px 15px;
}
#navigation .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#navigation > .row > .col-1, #navigation > .row > .col-2
{
   padding-right: 15px;
   padding-left: 15px;
}
#navigation > .row > .col-1
{
   display: block;
   width: 25%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#navigation > .row > .col-2
{
   display: block;
   width: 75%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#wb_welcome
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: url(../images/beijing04-bw.png);
   background-repeat: no-repeat;
   background-position: center center !important;
   background-attachment: scroll;
   background-size: cover;
}
#wb_welcome
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#welcome
{
   padding: 100px 15px 100px 15px;
}
#welcome .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#welcome > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#welcome > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#wb_news
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #000000;
   background-image: none;
}
#wb_news
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#news
{
   padding: 50px 15px 20px 15px;
}
#news .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#news > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#news > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#wb_about
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #303030;
   background-image: none;
}
#wb_about
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#about
{
   padding: 0px 15px 0px 15px;
}
#about .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#about > .row > .col-1, #about > .row > .col-2, #about > .row > .col-3
{
   padding-right: 15px;
   padding-left: 15px;
}
#about > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#about > .row > .col-1 > .col-1-padding
{
   padding: 50px 0px 50px 0px;
}
#about > .row > .col-2
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: right;
}
#about > .row > .col-2 > .col-2-padding
{
   padding: 50px 0px 50px 0px;
}
#about > .row > .col-3
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#about > .row > .col-3 > .col-3-padding
{
   padding: 50px 0px 50px 0px;
}
#wb_contact
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #202020;
   background-image: none;
}
#wb_contact
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#contact
{
   padding: 40px 15px 40px 15px;
}
#contact .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#contact > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#contact > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#wb_navigationMenu
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
}
#navigationMenu, #navigationMenu .ui-menu-item a
{
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
}
#wb_contactForm
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #202020;
   background-image: none;
}
#wb_contactForm
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#contactForm
{
   padding: 50px 15px 50px 15px;
}
#contactForm .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#contactForm > .row > .col-1, #contactForm > .row > .col-2
{
   padding-right: 15px;
   padding-left: 15px;
}
#contactForm > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#contactForm > .row > .col-2
{
   display: block;
   width: 100%;
   border: 0px solid #ECF0F1;
   border-radius: 0px;
   text-align: left;
}
#StickyLayer
{
   width: 50px;
   height: 50px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #28A7E9;
   background-image: none;
   opacity: 0.77;
}
#wb_up-arrow
{
   left: 9px;
   top: 8px;
   width: 24px;
   height: 24px;
   visibility: visible;
   display: inline;
   color: #FFFFFF;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   margin: 0;
   padding: 4px 4px 4px 4px;
}
#up-arrow
{
   width: 24px;
   height: 24px;
}
#up-arrow i
{
   line-height: 24px;
   font-size: 24px;
   width: 14px;
}
#wb_navigationHeading
{
   width: 100%;
   visibility: visible;
   display: block;
   color: #777777;
   font-size: 13px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   margin: 0;
   padding: 0;
}
#wb_navigationHeading
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   text-align: left;
}
#navigationHeading
{
   color: #777777;
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
}
#wb_footerText
{
   visibility: visible;
   display: block;
   background-color: transparent;
   background-image: none;
}
#wb_footerText
{
   margin: 0;
   padding: 12px 0px 12px 0px;
}
#wb_footer
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #303030;
   background-image: none;
}
#wb_footer
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#footer
{
   padding: 20px 15px 20px 15px;
}
#footer .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#footer > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#footer > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#wb_welcomeHeading
{
   width: 100%;
   visibility: visible;
   display: block;
   color: #FFFFFF;
   font-size: 32px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   margin: 0;
   padding: 0;
}
#wb_welcomeHeading
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   text-align: center;
}
#welcomeHeading
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 32px;
}
#wb_contactHeadingText
{
   visibility: visible;
   display: block;
   background-color: transparent;
   background-image: none;
}
#wb_contactHeadingText
{
   margin: 0;
   padding: 0;
}
#welcomeButton
{
   width: 139px;
   height: 35px;
   visibility: visible;
   display: inline-block;
   color: #FFFFFF;
   font-size: 16px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   margin: 0;
}
#welcomeButton
{
   line-height: 35px;
}
#wb_welcomeJavaScript
{
   height: 30px;
   visibility: visible;
   display: block;
}
#wb_contactText
{
   visibility: visible;
   display: block;
   background-color: transparent;
   background-image: none;
}
#wb_contactText
{
   margin: 0;
   padding: 0;
}
#wb_newsHeading
{
   width: 100%;
   visibility: visible;
   display: block;
   color: #FFFFFF;
   font-size: 27px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   margin: 0;
   padding: 0;
}
#wb_newsHeading
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   text-align: center;
}
#newsHeading
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 27px;
}
}
