body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_header
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #343A40;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#header
{
   box-sizing: border-box;
   padding: 20px 15px 20px 15px;
   margin-right: auto;
   margin-left: auto;
}
#header > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#header > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#header > .row > .col-1
{
   float: left;
}
#header > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: left;
}
#header:before,
#header:after,
#header .row:before,
#header .row:after
{
   display: table;
   content: " ";
}
#header:after,
#header .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#header > .row > .col-1
{
   float: none;
   width: 100%;
}
}
.ThemeableMenu1 .hide 
{
   display: none!important;
}
.ThemeableMenu1 .show 
{
   display: block!important;
}
.ThemeableMenu1 .hidden
{
   display: none!important;
   visibility: hidden!important;
}
.ThemeableMenu1 .nav
{
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   color: #2B2B2B;
   text-align: left;
}
#ThemeableMenu1, .ThemeableMenu1 .nav, .ThemeableMenu1 *
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   line-height: 1;
   list-style: none;
}
.ThemeableMenu1 .nav:before,
.ThemeableMenu1 .nav:after 
{
   content: " ";
   display: table;
}
.ThemeableMenu1 .nav:after 
{
   clear: both;
}
.ThemeableMenu1 .nav a 
{
   text-decoration: none;
}
.ThemeableMenu1 .nav ul
{
   margin-top: 0;
   margin-bottom: 10px;
}
.ThemeableMenu1 .nav ul ul
{
   margin-bottom: 0;
}
.ThemeableMenu1 .container 
{
   margin-right: auto;
   margin-left: auto;
   padding: 0;
}
.ThemeableMenu1 .container:before,
.ThemeableMenu1 .container:after 
{
   content: " ";
   display: table;
}
.ThemeableMenu1 .container:after 
{
   clear: both;
}
.ThemeableMenu1 .collapse 
{
   display: none;
}
.ThemeableMenu1 .collapse.in 
{
   display: block;
}
.ThemeableMenu1 .collapsing 
{
   position: relative;
   height: 0;
   overflow: hidden;
   -webkit-transition: height .35s ease;
   transition: height .35s ease;
}
.ThemeableMenu1 .caret 
{
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 4px;
   vertical-align: middle;
   border-top: 4px solid #000;
   border-right: 4px solid transparent;
   border-left: 4px solid transparent;
   border-bottom: 0 dotted;
}
.ThemeableMenu1 .dropdown 
{
   position: relative;
}
.ThemeableMenu1 .dropdown-toggle:focus 
{
   outline: 0;
}
.ThemeableMenu1 .dropdown-menu 
{
   position: absolute;
   top: 100%;
   left: 0;
   z-index: 1000;
   display: none;
   float: left;
   min-width: 160px;
   padding: 5px 0;
   margin: 2px 0 0;
   list-style: none;
   font-size: 16px;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid rgba(197,197,197,1.00);
   border-radius: 0px;
   background-clip: padding-box;
}
.ThemeableMenu1 .dropdown-menu .divider 
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #C5C5C5;
}
.ThemeableMenu1 .dropdown-menu>li>a 
{
   display: block;
   padding: 3px 20px 3px 20px;
   clear: both;
   line-height: 1.428571429;
   color: #2B2B2B;
   white-space: nowrap;
}
.ThemeableMenu1 .dropdown-menu>li>a:hover,
.ThemeableMenu1 .dropdown-menu>li>a:focus 
{
   text-decoration: none;
   color: #2B2B2B;
   background-color: #EDEDED;
   background-image: none;
}
.ThemeableMenu1 .dropdown-menu>.active>a,
.ThemeableMenu1 .dropdown-menu>.active>a:hover,
.ThemeableMenu1 .dropdown-menu>.active>a:focus 
{
   color: #fff;
   text-decoration: none;
   outline: 0;
   background-color: #343A40;
}
.ThemeableMenu1 .open>.dropdown-menu 
{
   display: block;
}
.ThemeableMenu1 .open>a 
{
   outline: 0;
}
.ThemeableMenu1 .dropdown-header 
{
   display: block;
   padding: 3px 20px;
   line-height: 1.428571429;
   color: #aeaeae;
}
.ThemeableMenu1 .dropdown-backdrop 
{
   position: fixed;
   left: 0;
   right: 0;
   bottom: 0;
   top: 0;
   z-index: 990;
}
.ThemeableMenu1 .nav>li 
{
   position: relative;
   display: block;
}
.ThemeableMenu1 .nav>li>a 
{
   position: relative;
   display: block;
   padding: 10px 15px 10px 15px;
}
.ThemeableMenu1 .nav .open>a,
.ThemeableMenu1 .nav .open>a:hover,
.ThemeableMenu1 .nav .open>a:focus 
{
   background-color: #ccc;
   border-color: #343A40;
}
.ThemeableMenu1 .nav .nav-divider 
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #C5C5C5;
}
.ThemeableMenu1 .nav>li>a>img 
{
   max-width: none;
}
.ThemeableMenu1 .nav .caret 
{
   border-top-color: #343A40;
   border-bottom-color: #343A40;
}
.ThemeableMenu1
{
   position: relative;
   border: 1px solid transparent;
   background-color: #343A40;
   background-image: none;
}
.ThemeableMenu1:before,
.ThemeableMenu1:after 
{
   content: " ";
   display: table;
}
.ThemeableMenu1:after 
{
   clear: both;
}
.ThemeableMenu1 .navbar-header:before,
.ThemeableMenu1 .navbar-header:after 
{
   content: " ";
   display: table;
}
.ThemeableMenu1 .navbar-header:after 
{
   clear: both;
}
.ThemeableMenu1-navbar-collapse 
{
   overflow-x: visible;
   -webkit-overflow-scrolling: touch;
}
.ThemeableMenu1-navbar-collapse:before,
.ThemeableMenu1-navbar-collapse:after 
{
   content: " ";
   display: table;
}
.ThemeableMenu1-navbar-collapse:after 
{
   clear: both;
}
.ThemeableMenu1-navbar-collapse.in 
{
   overflow-y: auto;
}
.ThemeableMenu1 .navbar-toggle 
{
   position: relative;
   float: right;
   padding: 11px 10px 10px 10px;
   background-color: transparent;
   border: 1px solid transparent;
   border-radius: 0px;
}
.ThemeableMenu1 .navbar-toggle .icon-bar 
{
   display: block;
   width: 22px;
   height: 2px;
   border-radius: 1px;
}
.ThemeableMenu1 .navbar-toggle .icon-bar+.icon-bar 
{
   margin-top: 4px;
}
.ThemeableMenu1 .navbar-nav 
{
   margin: 6px -15px;
}
.ThemeableMenu1 .navbar-nav>li>.dropdown-menu 
{
   margin-top: 0;
   border-top-right-radius: 0;
   border-top-left-radius: 0;
}
.ThemeableMenu1 .navbar-nav>li>a 
{
   color: #2B2B2B;
}
.ThemeableMenu1 .navbar-nav>li>a:hover,
.ThemeableMenu1 .navbar-nav>li>a:focus 
{
   background-color: #EDEDED;
   background-image: none;
   color: #2B2B2B;
   text-decoration: none;
}
.ThemeableMenu1 .navbar-nav>.active>a,
.ThemeableMenu1 .navbar-nav>.active>a:hover,
.ThemeableMenu1 .navbar-nav>.active>a:focus 
{
   color: #2B2B2B;
   background-color: #EDEDED;
   background-image: none;
}
.ThemeableMenu1 .navbar-toggle 
{
   border: 1px solid rgba(43,43,43,0.10);
}
.ThemeableMenu1 .navbar-toggle:hover,
.ThemeableMenu1 .navbar-toggle:focus 
{
   background-color: transparent;
}
.ThemeableMenu1 .navbar-toggle .icon-bar 
{
   background-color: #999C9F;
}
.ThemeableMenu1-navbar-collapse
{
   border-color: rgba(197,197,197,1.00);
}
.ThemeableMenu1 .navbar-nav>.dropdown>a:hover .caret,
.ThemeableMenu1 .navbar-nav>.dropdown>a:focus .caret 
{
   border-top-color: #2B2B2B;
   border-bottom-color: #2B2B2B;
}
.ThemeableMenu1 .navbar-nav>.open>a,
.ThemeableMenu1 .navbar-nav>.open>a:hover,
.ThemeableMenu1 .navbar-nav>.open>a:focus 
{
   background-color: #EDEDED;
   background-image: none;
   color: #2B2B2B;
}
.ThemeableMenu1 .navbar-nav>.open>a .caret,
.ThemeableMenu1 .navbar-nav>.open>a:hover .caret,
.ThemeableMenu1 .navbar-nav>.open>a:focus .caret 
{
   border-top-color: #2B2B2B;
   border-bottom-color: #2B2B2B;
}
.ThemeableMenu1 .navbar-nav>.dropdown>a .caret 
{
   border-top-color: #2B2B2B;
   border-bottom-color: #2B2B2B;
}
.ThemeableMenu1 .navbar-link 
{
   color: #2B2B2B;
}
.ThemeableMenu1 .navbar-link:hover 
{
   color: #2B2B2B;
}
.ThemeableMenu1 .navbar-header
{
   color: #999C9F;
   height: 38px;
}
@media (min-width: 480px) 
{
.ThemeableMenu1 .navbar-right .dropdown-menu 
{
   right: 0;
   left: auto;
}
.ThemeableMenu1 .navbar-header 
{
   float: left;
}
.ThemeableMenu1-navbar-collapse 
{
   width: auto;
   border-top: 0;
   box-shadow: none;
}
.ThemeableMenu1-navbar-collapse.collapse 
{
   display: block!important;
   height: auto!important;
   padding-bottom: 0;
   overflow: visible!important;
}
.ThemeableMenu1-navbar-collapse.in 
{
   overflow-y: auto;
}
.ThemeableMenu1 .navbar-toggle
{
   display: none;
}
.ThemeableMenu1 .navbar-nav 
{
   float: left;
   margin: 0;
}
.ThemeableMenu1 .navbar-nav>li 
{
   float: left;
}
.ThemeableMenu1 .container>.navbar-header,
.ThemeableMenu1 .container>.ThemeableMenu1-navbar-collapse 
{
   margin-right: 0;
   margin-left: 0;
}
.ThemeableMenu1 .navbar-nav>.dropdown>a:hover .caret,
.ThemeableMenu1 .navbar-nav>.dropdown>a:focus .caret 
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
}
@media (max-width: 480px) 
{
.ThemeableMenu1 
{
   border-color: rgba(52,58,64,1.00);
}
.ThemeableMenu1 .navbar-nav 
{
   margin: 0;
   background-color: #FFFFFF;
   background-image: none;
}
.ThemeableMenu1 .navbar-nav .open .dropdown-menu 
{
   position: static;
   float: none;
   width: auto;
   margin-top: 0;
   background-color: transparent;
   border: 0;
   box-shadow: none;
}
.ThemeableMenu1 .navbar-nav .open .dropdown-menu>li>a,
.ThemeableMenu1 .navbar-nav .open .dropdown-menu .dropdown-header 
{
   padding: 5px 15px 5px 25px;
}
.ThemeableMenu1 .navbar-nav .open .dropdown-menu>li>a 
{
   line-height: 20px;
}
.ThemeableMenu1 .navbar-nav .open .dropdown-menu>li>a:hover,
.ThemeableMenu1 .navbar-nav .open .dropdown-menu>li>a:focus 
{
   background-image: none;
}
}
@media (min-width: 480px) 
{
.ThemeableMenu1 
{
   background-color: #343A40;
   background-image: none;
   border-color: rgba(52,58,64,1.00);
   border-radius: 0px;
}
.ThemeableMenu1 .navbar-nav>li>a 
{
   color: #999C9F;
}
.ThemeableMenu1 .navbar-nav>li>a:hover,
.ThemeableMenu1 .navbar-nav>li>a:focus 
{
   color: #FFFFFF;
   background-color: #343A40;
   background-image: none;
}
.ThemeableMenu1 .navbar-nav>.active>a,
.ThemeableMenu1 .navbar-nav>.active>a:hover,
.ThemeableMenu1 .navbar-nav>.active>a:focus 
{
   color: #FFFFFF;
   background-color: #343A40;
   background-image: none;
}
.ThemeableMenu1 .navbar-nav>.open>a,
.ThemeableMenu1 .navbar-nav>.open>a:hover,
.ThemeableMenu1 .navbar-nav>.open>a:focus 
{
   background-color: #343A40;
   background-image: none;
   color: #FFFFFF;
}
.ThemeableMenu1 .navbar-nav>.dropdown>a:hover .caret 
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.ThemeableMenu1 .navbar-nav>.dropdown>a .caret
{
   border-top-color: #999C9F;
   border-bottom-color: #999C9F;
}
.ThemeableMenu1 .navbar-nav > li.active > a > .caret,
.ThemeableMenu1 .navbar-nav > li.active > a:hover > .caret,
.ThemeableMenu1 .navbar-nav > li.active > a:focus > .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.ThemeableMenu1 .navbar-nav>.open>a .caret,
.ThemeableMenu1 .navbar-nav>.open>a:hover .caret,
.ThemeableMenu1 .navbar-nav>.open>a:focus .caret 
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.ThemeableMenu1 .navbar-link 
{
   color: #999C9F;
}
.ThemeableMenu1 .navbar-link:hover 
{
   color: #fff;
}
}
#ThemeableMenu1-logo
{
   float: left;
}
#ThemeableMenu1-logo img
{
   border-width: 0;
   height: auto;
   max-width: 100%;
}
#ThemeableMenu1 i
{
   font-size: 16px;
   position: relative;
   left: 0;
   top: 0;
   margin-right: 4px;
   width: 16px;
}
#FlexGrid1
{
   display: grid;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-size: 0px;
   grid-template-columns: 1fr 2fr 1fr;
   grid-template-rows: auto;
   grid-template-areas:
      "sidebar1 main sidebar2";
}
#FlexGrid1 .sidebar1
{
   display: flex;
   grid-area: sidebar1;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   padding: 0;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   -webkit-align-items: stretch;
   align-items: stretch;
   -webkit-align-content: stretch;
   align-content: stretch;
}
#FlexGrid1 .main
{
   display: flex;
   grid-area: main;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   padding: 20px 20px 20px 20px;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   -webkit-align-items: stretch;
   align-items: stretch;
   -webkit-align-content: stretch;
   align-content: stretch;
}
#FlexGrid1 .sidebar2
{
   display: flex;
   grid-area: sidebar2;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   padding: 0;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   -webkit-align-items: stretch;
   align-items: stretch;
   -webkit-align-content: stretch;
   align-content: stretch;
}
#Accordion3 *, #Accordion3 *::before, #Accordion3 *::after
{
   box-sizing: border-box;
}
#Accordion3 .panel
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid transparent;
   border-radius: 4px;
   box-shadow: 0px 1px 1px rgba(0,0,0,0.05);
   margin-bottom: 1px;
   overflow: hidden;
   text-align: left;
}
#Accordion3 .panel-default
{
   border-color: #C5C5C5;
}
#Accordion3.panel-group .panel
{
   margin-bottom: 0px;
   overflow: hidden;
   border-radius: 4px;
}
#Accordion3 .panel-heading
{
   padding: 9px 10px 9px 10px;
   border-bottom: 1px solid transparent;
   border-top-right-radius: 4px;
   border-top-left-radius: 4px;
}
#Accordion3 .panel-default > .panel-heading
{
   background-color: #F6F6F6;
   background-image: none;
}
#Accordion3 .panel-default.active
{
   border-color: #DDDDDD;
}
#Accordion3 .panel-default.active > .panel-heading
{
   background-color: #F5F5F5;
   background-image: none;
}
#Accordion3 .panel-body
{
   padding: 4px 4px 4px 4px;
   font-size: 0;
   text-align: left;
   position: relative;
}
#Accordion3 .panel-body::before, #Accordion3 .panel-body::after
{
   display: table;
   content: " ";
}
#Accordion3 .panel-body::after
{
   clear: both;
}
}
#Accordion3 .panel-default > .panel-heading + .panel-collapse .panel-body
{
   border-top-color: #C5C5C5;
}
#Accordion3 .panel-title
{
   margin-top: 0px;
   margin-bottom: 0px;
   display: block;
   color: #454545;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px !important;
   font-style: normal;
   text-align: left;
}
#Accordion3 .panel-title > a
{
   color: inherit;
   text-decoration: none;
}
#Accordion3 .active .panel-title > a
{
   color: #000000;
}
#Accordion3 .collapse 
{
   display: none;
}
#Accordion3 .collapse.in
{
   display: block;
}
#Accordion3 .collapsing
{
   position: relative;
   height: 0;
   overflow: hidden;
   -webkit-transition: height 0.35s linear;
   transition: height 0.35s linear;
}
#Accordion3 .panel-default .panel-heading .panel-icon
{
   width: 16px;
   height: 16px;
   box-sizing: content-box;
   padding-right: 4px;
   display: inline-block;
   vertical-align: middle;
   margin-top: -0.25em;
   position: relative;
   text-indent: -99999px;
   overflow: hidden;
   background-image: url(../images/wb14_portal-Accordion3-default.png);
   background-repeat: no-repeat;
}
#Accordion3 .panel-default.active .panel-heading .panel-icon
{
   background-image: url(../images/wb14_portal-Accordion3-active.png);
}
#wb_Accordion3
{
   margin: 20px 20px 20px 20px;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
}
#Accordion4 *, #Accordion4 *::before, #Accordion4 *::after
{
   box-sizing: border-box;
}
#Accordion4 .panel
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid transparent;
   border-radius: 4px;
   box-shadow: 0px 1px 1px rgba(0,0,0,0.05);
   margin-bottom: 1px;
   overflow: hidden;
   text-align: left;
}
#Accordion4 .panel-default
{
   border-color: #C5C5C5;
}
#Accordion4.panel-group .panel
{
   margin-bottom: 0px;
   overflow: hidden;
   border-radius: 4px;
}
#Accordion4 .panel-heading
{
   padding: 9px 10px 9px 10px;
   border-bottom: 1px solid transparent;
   border-top-right-radius: 4px;
   border-top-left-radius: 4px;
}
#Accordion4 .panel-default > .panel-heading
{
   background-color: #F6F6F6;
   background-image: none;
}
#Accordion4 .panel-default.active
{
   border-color: #DDDDDD;
}
#Accordion4 .panel-default.active > .panel-heading
{
   background-color: #F5F5F5;
   background-image: none;
}
#Accordion4 .panel-body
{
   padding: 4px 4px 4px 4px;
   font-size: 0;
   text-align: left;
   position: relative;
}
#Accordion4 .panel-body::before, #Accordion4 .panel-body::after
{
   display: table;
   content: " ";
}
#Accordion4 .panel-body::after
{
   clear: both;
}
}
#Accordion4 .panel-default > .panel-heading + .panel-collapse .panel-body
{
   border-top-color: #C5C5C5;
}
#Accordion4 .panel-title
{
   margin-top: 0px;
   margin-bottom: 0px;
   display: block;
   color: #454545;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px !important;
   font-style: normal;
   text-align: left;
}
#Accordion4 .panel-title > a
{
   color: inherit;
   text-decoration: none;
}
#Accordion4 .active .panel-title > a
{
   color: #000000;
}
#Accordion4 .collapse 
{
   display: none;
}
#Accordion4 .collapse.in
{
   display: block;
}
#Accordion4 .collapsing
{
   position: relative;
   height: 0;
   overflow: hidden;
   -webkit-transition: height 0.35s linear;
   transition: height 0.35s linear;
}
#Accordion4 .panel-default .panel-heading .panel-icon
{
   width: 16px;
   height: 16px;
   box-sizing: content-box;
   padding-right: 4px;
   display: inline-block;
   vertical-align: middle;
   margin-top: -0.25em;
   position: relative;
   text-indent: -99999px;
   overflow: hidden;
   background-image: url(../images/wb14_portal-Accordion4-default.png);
   background-repeat: no-repeat;
}
#Accordion4 .panel-default.active .panel-heading .panel-icon
{
   background-image: url(../images/wb14_portal-Accordion4-active.png);
}
#wb_Accordion4
{
   margin: 20px 20px 0px 20px;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
}
#Label1
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   box-sizing: border-box;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
   vertical-align: top;
}
#Progressbar1
{
   margin: 0;
   position: relative;
}
#Progressbar1, #Progressbar1 .ui-corner-right
{
   border-bottom-right-radius: 6px;
   border-top-right-radius: 6px;
}
#Progressbar1, #Progressbar1 .ui-corner-left
{
   border-bottom-left-radius: 6px;
   border-top-left-radius: 6px;
}
#Progressbar1,ui-widget-content
{
   border-color: #EEEEEE;
   background-color: #EEEEEE;
   background-image: none;
}
#Progressbar1 .ui-widget-header
{
   border-color: #5CB85C;
   background-color: #5CB85C;
   background-image: none;
}
#Progressbar1-label
{
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   text-align: center;
   line-height: 20px;
   vertical-align: middle;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
}
#Label2
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   box-sizing: border-box;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
   vertical-align: top;
}
#Progressbar2
{
   margin: 0;
   position: relative;
}
#Progressbar2, #Progressbar2 .ui-corner-right
{
   border-bottom-right-radius: 6px;
   border-top-right-radius: 6px;
}
#Progressbar2, #Progressbar2 .ui-corner-left
{
   border-bottom-left-radius: 6px;
   border-top-left-radius: 6px;
}
#Progressbar2,ui-widget-content
{
   border-color: #EEEEEE;
   background-color: #EEEEEE;
   background-image: none;
}
#Progressbar2 .ui-widget-header
{
   border-color: #5BC0DE;
   background-color: #5BC0DE;
   background-image: none;
}
#Progressbar2-label
{
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   text-align: center;
   line-height: 20px;
   vertical-align: middle;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
}
#Label3
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   box-sizing: border-box;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
   vertical-align: top;
}
#Progressbar3
{
   margin: 0;
   position: relative;
}
#Progressbar3, #Progressbar3 .ui-corner-right
{
   border-bottom-right-radius: 6px;
   border-top-right-radius: 6px;
}
#Progressbar3, #Progressbar3 .ui-corner-left
{
   border-bottom-left-radius: 6px;
   border-top-left-radius: 6px;
}
#Progressbar3,ui-widget-content
{
   border-color: #EEEEEE;
   background-color: #EEEEEE;
   background-image: none;
}
#Progressbar3 .ui-widget-header
{
   border-color: #F0AD4E;
   background-color: #F0AD4E;
   background-image: none;
}
#Progressbar3-label
{
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   text-align: center;
   line-height: 20px;
   vertical-align: middle;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
}
#Label4
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   box-sizing: border-box;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
   vertical-align: top;
}
#Progressbar4
{
   margin: 0;
   position: relative;
}
#Progressbar4, #Progressbar4 .ui-corner-right
{
   border-bottom-right-radius: 6px;
   border-top-right-radius: 6px;
}
#Progressbar4, #Progressbar4 .ui-corner-left
{
   border-bottom-left-radius: 6px;
   border-top-left-radius: 6px;
}
#Progressbar4,ui-widget-content
{
   border-color: #EEEEEE;
   background-color: #EEEEEE;
   background-image: none;
}
#Progressbar4 .ui-widget-header
{
   border-color: #D9534F;
   background-color: #D9534F;
   background-image: none;
}
#Progressbar4-label
{
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   text-align: center;
   line-height: 20px;
   vertical-align: middle;
   color: #4F4F4F;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 10px 10px 10px 10px;
   margin: 0;
   text-align: left;
}
#wb_Text1
{
   color: #696969;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 16px;
}
#wb_Text1 div
{
   text-align: left;
}
#ListView1{
   font-family: Arial;
   font-weight: normal;
   font-size: 0;
   border-width: 0;
   width: 100%;
   height: 100%;
}
#ListView1 .ui-btn 
{
   margin: .5em 0;
   padding: 12px 18px 12px 18px;
   display: block;
   position: relative;
   text-align: center;
   text-overflow: ellipsis;
   overflow: hidden;
   cursor: pointer;
}
#ListView1 .ui-btn:link 
{
   text-decoration: none !important;
}
#ListView1 .ui-btn, label.ui-btn 
{
   border-width: 1px;
   border-style: solid;
}
#ListView1, #ListView1 > li 
{
   margin: 0;
   padding: 0;
   list-style: none;
   font-size: 32px;
}
#ListView1 > li 
{
   display: block;
   position: relative;
   overflow: visible;
}
#ListView1 > .ui-li-static, #ListView1 > .ui-li-divider, #ListView1 > li > a.ui-btn 
{
   margin: 0;
   display: block;
   position: relative;
   text-align: left;
   text-overflow: ellipsis;
   overflow: hidden;
}
#ListView1 > .ui-li-static, #ListView1 > .ui-li-divider, #ListView1 > li > a.ui-btn 
{
   border-style: solid;
   border-width: 1px 1px 0 1px;
   font-weight: normal;
   text-align: left;
}
#ListView1 .ui-state-default
{
   border-color: #C5C5C5;
   background-color: #F6F6F6;
   background-image: none;
   color: #454545 !important;
}
#ListView1 .ui-state-hover
{
   border-color: #CCCCCC;
   background-color: #EDEDED;
   background-image: none;
   color: #2B2B2B !important;
}
#ListView1 .ui-state-active
{
   border-color: #2E6DA4;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF !important;
}
#ListView1 > .ui-li-divider 
{
   border-color: #DDDDDD;
   background-color: #A9A9A9;
   background-image: none;
   color: #333333;
   padding: 10px 10px 10px 10px;
   cursor: default;
   outline: 0;
}
#ListView1 > .ui-li-static 
{
   border-color: #DDDDDD;
   background-color: #FFFFFF;
   background-image: none;
   padding: 12px 18px 12px 18px;
}
#ListView1 > li.ui-first-child, #ListView1 > li.ui-first-child > a.ui-btn 
{
   border-top-left-radius: 4px;
   border-top-right-radius: 4px;
}
#ListView1 > li.ui-last-child, #ListView1 > li.ui-last-child > a.ui-btn
{
   border-bottom-left-radius: 4px;
   border-bottom-right-radius: 4px;
}
#ListView1 > .ui-li-has-icon > .ui-btn, #ListView1 > .ui-li-static.ui-li-has-icon, #ListView1 > .ui-li-divider.ui-li-has-icon
{
   min-height: 0px;
   padding-left: 36px;
}
#ListView1 > .ui-li-static.ui-last-child, #ListView1 > .ui-li-divider.ui-last-child, #ListView1 > li.ui-last-child > a.ui-btn 
{
   border-bottom-width: 1px;
}
#ListView1 > .ui-li-has-icon > img:first-child, #ListView1 > .ui-li-has-icon > .ui-btn > img:first-child 
{
   border-width: 0;
   position: absolute;
   left: 18px;
   top: 12px;
   max-width: 0px;
   max-height: 0px;
}
#ListView1 p 
{
   margin: 0;
   padding: 8px 0px 0px 0px;
   font-size: 11px;
   font-weight: normal;
}
#wb_ListView1
{
   margin: 20px 20px 0px 20px;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
}
#wb_Carousel1
{
   background-color: #F2F5F7;
   background-image: none;
   margin: 20px 20px 20px 20px;
}
#wb_Carousel1
{
   height: 238px;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
}
#Carousel1
{
   position: relative;
   margin: 0;
   line-height: 1;
   height: 100%;
   box-sizing: border-box;
}
#Carousel1 .carousel-inner
{
   overflow: hidden;
   width: 100%;
   height: 100%;
   position: relative;
}
.carousel.pointer-event
{
   -ms-touch-action: pan-y;
   touch-action: pan-y;
}
#Carousel1 .carousel-inner::after
{
   display: block;
   clear: both;
    content: "";
}
#Carousel1 .carousel-inner > .carousel-item
{
   display: none;
   position: relative;
   float: left;
   width: 100%;
   margin-right: -100%;
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
   -webkit-transition: -webkit-transform 500ms ease-in-out;
   transition: transform 500ms ease-in-out;
   height: 100%;
   text-align: left;
}
#Carousel1 .carousel-item-next:not(.carousel-item-left), #Carousel1 .active.carousel-item-right
{
   -webkit-transform: translateX(100%);
   transform: translateX(100%);
}
#Carousel1 .carousel-item-prev:not(.carousel-item-right), #Carousel1 .active.carousel-item-left
{
   -webkit-transform: translateX(-100%);
   transform: translateX(-100%);
}
#Carousel1 .carousel-innerframe
{
   padding: 0;
   display: flex;
   align-items: flex-start;
   flex-direction: column;
   justify-content: center;
   height: 100%;
   box-sizing: border-box;
}
#Carousel1 .carousel-inner > .carousel-item > img, #Carousel1 .carousel-inner > .carousel-item > a > img
{
   display: block;
   line-height: 1;
}
#Carousel1 .carousel-inner > .active, #Carousel1 .carousel-inner > .carousel-item-next, #Carousel1 .carousel-inner > .carousel-item-prev
{
   display: block;
}
#Carousel1 .carousel-inner > .carousel-item-next, #Carousel1 .carousel-inner > .carousel-item-prev
{
   position: absolute;
   top: 0;
   width: 100%;
}
#Carousel1 .carousel-indicators
{
   list-style: none;
   bottom: 0;
   padding: 0;
   margin: 0;
   position: absolute;
   margin-left: -84px;
   left: 50%;
   vertical-align: middle;
   z-index: 999;
}
#Carousel1 .carousel-indicators li
{
   display: block;
   float: left;
   padding: 6px 6px 6px 6px;
   width: 30px;
   height: 30px;
   cursor: pointer;
   text-indent: -999px;
   background-repeat: no-repeat;
   background-position: center center;
   background-image: url(../images/Carousel1-default.png);
}
#Carousel1 .carousel-indicators .active
{
   background-image: url(../images/Carousel1-active.png);
}
#Carousel1 .frame
{
   width: 266px;
   display: inline-block;
   float: left;
   height: 278px;
}
#wb_Carousel1 .pagination
{
   bottom: 0;
   left: 0;
   position: absolute;
   text-align: center;
   vertical-align: middle;
   width: 100%;
   z-index: 998;
}
#wb_Carousel1 .pagination img
{
   border-style: none;
   padding: 6px 6px 6px 6px;
}
#Carousel1 .frame-1
{
   background-color: #D4EDDA;
   background-image: none;
}
#Carousel1 .frame-2
{
   background-color: #D1ECF1;
   background-image: none;
}
#Carousel1 .frame-3
{
   background-color: #FFF3CD;
   background-image: none;
}
#Carousel1 .frame-4
{
   background-color: #F8D7DA;
   background-image: none;
}
#wb_Heading3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Heading3
{
   color: #721C24;
   font-family: Arial;
   font-weight: bold;
   font-size: 19px;
   margin: 0;
   text-align: center;
}
#wb_Heading4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Heading4
{
   color: #721C24;
   font-family: Arial;
   font-weight: bold;
   font-size: 19px;
   margin: 0;
   text-align: center;
}
#wb_Heading5
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Heading5
{
   color: #165C68;
   font-family: Arial;
   font-weight: bold;
   font-size: 19px;
   margin: 0;
   text-align: center;
}
#wb_Heading6
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Heading6
{
   color: #427B4F;
   font-family: Arial;
   font-weight: bold;
   font-size: 19px;
   margin: 0;
   text-align: center;
}
#footer
{
   display: -webkit-flex;
   display: flex;
   position: relative;
   padding: 10px 10px 10px 10px;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-justify-content: space-between;
   justify-content: space-between;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: flex-start;
   align-content: flex-start;
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   font-size: 0px;
}
#wb_Breadcrumb2
{
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
}
#Breadcrumb2
{
   padding: 8px 15px 8px 15px;
   list-style: none;
   background-color: transparent;
   background-image: none;
   border: 0px solid #C0C0C0;
   font-family: Arial;
   font-weight: normal;
   font-size: 0;
   margin: 0;
   text-align: left;
}
#Breadcrumb2 > li
{
   display: inline-block;
   font-size: 13px;
}
#Breadcrumb2 a
{
   color: #337AB7;
   text-decoration: none;
}
#Breadcrumb2 a:hover
{
   color: #23527C;
   text-decoration: underline;
}
#Breadcrumb2 > .active
{
   color: #777777;
}
#Breadcrumb2 > li + li:before
{
   content: "|";
   padding: 0 5px;
   color: #C0C0C0;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #C0C0C0;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-align-self: auto;
   align-self: auto;
   padding: 8px 15px 8px 15px;
   margin: 0;
   text-align: right;
}
#wb_Text3
{
   color: #4F4F4F;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 16px;
}
#wb_Text3 div
{
   text-align: right;
}
#wb_Image1
{
   margin: 0;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   padding: 0;
   display: inline-block;
   width: 100%;
   height: auto;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-align-self: auto;
   align-self: auto;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
