html, body, #container
{
   width: 100%;
   height: 100%;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#FlexContainer1
{
   display: -webkit-flex;
   display: flex;
   position: relative;
   padding: 10px 10px 10px 10px;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: space-between;
   justify-content: space-between;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: flex-start;
   align-content: flex-start;
   margin: 0;
   background-color: #3E78B3;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   font-size: 0px;
}
#about
{
   display: -webkit-flex;
   display: flex;
   position: relative;
   min-height: 100vh;
   padding: 10px 10px 10px 10px;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: center;
   align-content: center;
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   font-size: 0px;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 100%;
   flex-basis: 100%;
   -webkit-align-self: auto;
   align-self: auto;
   padding: 10px 10px 25px 10px;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#expertise
{
   display: -webkit-flex;
   display: flex;
   position: relative;
   min-height: 100vh;
   padding: 10px 10px 10px 10px;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: center;
   align-content: center;
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   font-size: 0px;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 100%;
   flex-basis: 100%;
   -webkit-align-self: auto;
   align-self: auto;
   padding: 10px 10px 10px 10px;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#PanelLayer
{
   background-color: #3E78B3;
   background-image: none;
}
#PanelLayer_panel
{
   background-color: #3E78B3;
   background-image: none;
   display: none;
   position: fixed;
   top: 0;
   height: 100%;
   width: 250px;
   z-index: 9999;
}
@media only screen and (max-width:480px) 
{
#PanelLayer
{
   width: 100% !important;
}
#PanelLayer_panel
{
   width: 100% !important;
}
body
{
   margin-left: 0 !important;
}
}
#wb_CssMenu1
{
   border: 0px solid #C0C0C0;
   background-color: transparent;
   margin: 0;
   text-align: left;
}
#wb_CssMenu1 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 100%;
}
#wb_CssMenu1 li
{
   float: left;
   margin: 0;
   padding: 0px 0px 0px 0px;
   width: 100%;
}
#wb_CssMenu1 a
{
   display: block;
   color: #D3D3D3;
   border: 0px solid #CCCCCC;
   background-color: #3E78B3;
   background-image: none;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   width: 96%;
   height: 40px;
   padding: 0px 5px 0px 5px;
   vertical-align: middle;
   line-height: 40px;
   text-align: center;
}
#wb_CssMenu1 li:hover a, #wb_CssMenu1 a:hover, #wb_CssMenu1 .active
{
   color: #FFFFFF;
   background-color: #696969;
   background-image: none;
   border: 0px solid #2E6DA4;
}
#wb_CssMenu1 .firstmain a
{
   margin-top: 0px;
}
#wb_CssMenu1 li.lastmain
{
   padding-bottom: 0px;
}
#wb_CssMenu1 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_Copyrights 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Copyrights div
{
   text-align: center;
}
#wb_FontAwesomeIcon5
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 10px 10px 10px 10px;
   vertical-align: top;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
}
#wb_FontAwesomeIcon5:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#FontAwesomeIcon5
{
   height: 42px;
   width: 48px;
}
#FontAwesomeIcon5 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 42px;
   line-height: 42px;
   vertical-align: middle;
   width: 35px;
}
#wb_FontAwesomeIcon5:hover i
{
   color: #F5F5F5;
}
#wb_Heading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   margin: 0;
   padding: 0;
   text-align: left;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
}
#Heading1
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   margin: 0;
   text-align: left;
}
#skills
{
   display: -webkit-flex;
   display: flex;
   position: relative;
   min-height: 100vh;
   padding: 10px 10px 10px 10px;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: center;
   align-content: center;
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   font-size: 0px;
}
#wb_awards
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   position: relative;
}
#awards
{
   display: -webkit-flex;
   display: flex;
   position: relative;
   min-height: 100vh;
   padding: 10px 10px 10px 10px;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   -webkit-align-items: stretch;
   align-items: stretch;
   -webkit-align-content: stretch;
   align-content: stretch;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1280px;
   background-color: transparent;
   background-image: none;
   box-sizing: border-box;
   font-size: 0px;
}
#contact
{
   display: -webkit-flex;
   display: flex;
   position: relative;
   min-height: 100vh;
   padding: 10px 10px 10px 10px;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: center;
   align-content: center;
   margin: 0;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   font-size: 0px;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 8px solid #87AED6;
   border-radius: 50%;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Heading2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   margin: 0;
   padding: 0;
   text-align: left;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 100%;
   flex-basis: 100%;
   -webkit-align-self: auto;
   align-self: auto;
}
#Heading2
{
   color: #696969;
   font-family: Arial;
   font-weight: bold;
   font-size: 24px;
   margin: 0;
   text-align: left;
}
#wb_Card1
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 30%;
   flex-basis: 30%;
   -webkit-align-self: auto;
   align-self: auto;
   background-color: transparent;
   background-image: none;
   border: 1px solid #DEDEDE;
   border-radius: 4px;
   margin: 10px 10px 10px 10px;
   padding: 0;
   text-align: left;
}
#Card1-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card1-card-item0
{
   box-sizing: border-box;
   border-radius: 4px 4px 0 0;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
}
#Card1-card-item1
{
   box-sizing: border-box;
   margin: 20px 20px 0px 20px;
   padding: 0;
   color: #292B2C;
   font-family: Arial;
   font-weight: bold;
   font-size: 19px;
}
#Card1-card-item2
{
   box-sizing: border-box;
   border-radius: 0 0 4px 4px;
   margin: 20px 20px 20px 20px;
   padding: 0;
   color: #4F4F4F;
   font-family: Arial;
   font-weight: normal;
   font-size: 15px;
}
#wb_Card2
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 30%;
   flex-basis: 30%;
   -webkit-align-self: auto;
   align-self: auto;
   background-color: transparent;
   background-image: none;
   border: 1px solid #DEDEDE;
   border-radius: 4px;
   margin: 10px 10px 10px 10px;
   padding: 0;
   text-align: left;
}
#Card2-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card2-card-item0
{
   box-sizing: border-box;
   border-radius: 4px 4px 0 0;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
}
#Card2-card-item1
{
   box-sizing: border-box;
   margin: 20px 20px 0px 20px;
   padding: 0;
   color: #292B2C;
   font-family: Arial;
   font-weight: bold;
   font-size: 19px;
}
#Card2-card-item2
{
   box-sizing: border-box;
   border-radius: 0 0 4px 4px;
   margin: 20px 20px 20px 20px;
   padding: 0;
   color: #4F4F4F;
   font-family: Arial;
   font-weight: normal;
   font-size: 15px;
}
#wb_Card3
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 30%;
   flex-basis: 30%;
   -webkit-align-self: auto;
   align-self: auto;
   background-color: transparent;
   background-image: none;
   border: 1px solid #DEDEDE;
   border-radius: 4px;
   margin: 10px 10px 10px 10px;
   padding: 0;
   text-align: left;
}
#Card3-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card3-card-item0
{
   box-sizing: border-box;
   border-radius: 4px 4px 0 0;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
}
#Card3-card-item1
{
   box-sizing: border-box;
   margin: 20px 20px 0px 20px;
   padding: 0;
   color: #292B2C;
   font-family: Arial;
   font-weight: bold;
   font-size: 19px;
}
#Card3-card-item2
{
   box-sizing: border-box;
   border-radius: 0 0 4px 4px;
   margin: 20px 20px 20px 20px;
   padding: 0;
   color: #4F4F4F;
   font-family: Arial;
   font-weight: normal;
   font-size: 15px;
}
#progressbar_uidesign
{
   margin: 0px 0px 10px 0px;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 100%;
   flex-basis: 100%;
   -webkit-align-self: auto;
   align-self: auto;
   position: relative;
}
#progressbar_uidesign, #progressbar_uidesign .ui-corner-right
{
   border-bottom-right-radius: 0px;
   border-top-right-radius: 0px;
}
#progressbar_uidesign, #progressbar_uidesign .ui-corner-left
{
   border-bottom-left-radius: 0px;
   border-top-left-radius: 0px;
}
#progressbar_uidesign,ui-widget-content
{
   border-color: #D3D3D3;
   background-color: #FFFFFF;
   background-image: none;
}
#progressbar_uidesign .ui-widget-header
{
   border-color: #3E78B3;
   background-color: #3E78B3;
   background-image: none;
}
#progressbar_uidesign-label
{
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   text-align: center;
   line-height: 20px;
   vertical-align: middle;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
}
#progressbar_html
{
   margin: 0px 0px 10px 0px;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 100%;
   flex-basis: 100%;
   -webkit-align-self: auto;
   align-self: auto;
   position: relative;
}
#progressbar_html, #progressbar_html .ui-corner-right
{
   border-bottom-right-radius: 0px;
   border-top-right-radius: 0px;
}
#progressbar_html, #progressbar_html .ui-corner-left
{
   border-bottom-left-radius: 0px;
   border-top-left-radius: 0px;
}
#progressbar_html,ui-widget-content
{
   border-color: #D3D3D3;
   background-color: #FFFFFF;
   background-image: none;
}
#progressbar_html .ui-widget-header
{
   border-color: #3E78B3;
   background-color: #3E78B3;
   background-image: none;
}
#progressbar_html-label
{
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   text-align: center;
   line-height: 20px;
   vertical-align: middle;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
}
#Label5
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#3E78B3;
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   box-sizing: border-box;
   padding: 4px 4px 4px 0px;
   margin: 0;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 100%;
   flex-basis: 100%;
   -webkit-align-self: auto;
   align-self: auto;
   text-align: left;
   vertical-align: top;
}
#Label6
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#3E78B3;
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   box-sizing: border-box;
   padding: 4px 4px 4px 0px;
   margin: 0;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 100%;
   flex-basis: 100%;
   -webkit-align-self: auto;
   align-self: auto;
   text-align: left;
   vertical-align: top;
}
#wb_Heading3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   margin: 0;
   padding: 0px 0px 10px 0px;
   text-align: left;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 100%;
   flex-basis: 100%;
   -webkit-align-self: auto;
   align-self: auto;
}
#Heading3
{
   color: #3E78B3;
   font-family: Arial;
   font-weight: bold;
   font-size: 24px;
   margin: 0;
   text-align: left;
}
#Editbox2
{
   border: 1px solid #D3D3D3;
   background-color: #FFFFFF;
   background-image: none;
   color :#696969;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   box-sizing: border-box;
   line-height: 24px;
   padding: 8px 8px 8px 10px;
   margin: 10px 0px 10px 0px;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 100%;
   flex-basis: 100%;
   -webkit-align-self: auto;
   align-self: auto;
   text-align: left;
}
#Editbox3
{
   border: 1px solid #D3D3D3;
   background-color: #FFFFFF;
   background-image: none;
   color :#696969;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   box-sizing: border-box;
   line-height: 24px;
   padding: 8px 8px 8px 10px;
   margin: 10px 0px 10px 0px;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 100%;
   flex-basis: 100%;
   -webkit-align-self: auto;
   align-self: auto;
   text-align: left;
}
#Editbox1
{
   border: 1px solid #D3D3D3;
   background-color: #FFFFFF;
   background-image: none;
   color :#696969;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   box-sizing: border-box;
   line-height: 24px;
   padding: 8px 8px 8px 10px;
   margin: 10px 0px 10px 0px;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 100%;
   flex-basis: 100%;
   -webkit-align-self: auto;
   align-self: auto;
   text-align: left;
}
#Button1
{
   border: 1px solid #D3D3D3;
   background-color: #FFFFFF;
   background-image: none;
   color: #696969;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
   -webkit-appearance: none;
   margin: 10px 0px 10px 0px;
}
#wb_Heading4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   margin: 20px 0px 20px 0px;
   padding: 0;
   text-align: left;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 100%;
   flex-basis: 100%;
   -webkit-align-self: auto;
   align-self: auto;
}
#Heading4
{
   color: #696969;
   font-family: Arial;
   font-weight: bold;
   font-size: 24px;
   margin: 0;
   text-align: left;
}
#wb_close-panel
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 10px 10px 10px 10px;
   vertical-align: top;
}
#wb_close-panel:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#close-panel
{
   height: 28px;
   width: 28px;
}
#close-panel i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 28px;
   line-height: 28px;
   vertical-align: middle;
   width: 21px;
}
#wb_close-panel:hover i
{
   color: #F5F5F5;
}
#wb_CssMenu1
{
   position: absolute;
   left: 0px;
   top: 226px;
   width: 250px;
   height: 200px;
   z-index: 4;
}
#wb_Card1
{
   display: flex;
   z-index: 15;
}
#wb_Image1
{
   position: absolute;
   left: 49px;
   top: 38px;
   width: 139px;
   height: 139px;
   z-index: 6;
}
#Button1
{
   display: block;
   width: 169px;
   height: 35px;
   z-index: 22;
}
#wb_Card3
{
   display: flex;
   z-index: 17;
}
#PanelLayer
{
   display: none;
   text-align: center;
}
#Editbox1
{
   display: block;
   height: 42px;
}
#wb_Card2
{
   display: flex;
   z-index: 16;
}
#progressbar_html
{
   display: inline-block;
   height: 20px;
   position: relative;
}
#Editbox2
{
   display: block;
   height: 42px;
}
#Editbox3
{
   display: block;
   height: 42px;
}
#wb_Heading4
{
   display: inline-block;
   z-index: 18;
}
#progressbar_uidesign
{
   display: inline-block;
   height: 20px;
   position: relative;
}
#wb_Heading2
{
   display: inline-block;
   z-index: 14;
}
#Label6
{
   display: block;
   height: 28px;
   height: 28px;
   line-height: 20px;
   z-index: 11;
}
#wb_Heading3
{
   display: inline-block;
   z-index: 8;
}
#PanelLayer_Container
{
   width: 250px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#Label5
{
   display: block;
   height: 28px;
   height: 28px;
   line-height: 20px;
   z-index: 9;
}
#wb_Heading1
{
   display: inline-block;
   width: 500px;
   z-index: 0;
}
#wb_FontAwesomeIcon5
{
   display: inline-block;
   width: 48px;
   height: 42px;
   text-align: center;
   z-index: 1;
}
#wb_close-panel
{
   position: absolute;
   left: 201px;
   top: 1px;
   width: 28px;
   height: 28px;
   visibility: hidden;
   text-align: center;
   z-index: 7;
}
#wb_Copyrights
{
   position: absolute;
   left: 30px;
   top: 485px;
   width: 192px;
   height: 14px;
   text-align: center;
   z-index: 5;
}
@media only screen and (max-width: 480px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#FlexContainer1
{
   visibility: visible;
   display: flex;
   font-weight: normal;
}
#FlexContainer1
{
   margin: 0;
   padding: 10px 10px 10px 10px;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: space-between;
   justify-content: space-between;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: flex-start;
   align-content: flex-start;
}
#about
{
   visibility: visible;
   display: flex;
   font-weight: normal;
}
#about
{
   min-height: 0;
   margin: 0;
   padding: 10px 10px 10px 10px;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: center;
   align-content: center;
}
#wb_Text2
{
   width: auto;
   height: auto;
   visibility: visible;
   display: inline;
}
#wb_Text2
{
   margin: 0;
   padding: 10px 10px 25px 10px;
}
#expertise
{
   visibility: visible;
   display: flex;
   font-weight: normal;
   background-color: transparent;
   background-image: none;
}
#expertise
{
   min-height: 0;
   margin: 0;
   padding: 10px 10px 10px 10px;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: center;
   align-content: center;
}
#wb_Text1
{
   width: auto;
   height: auto;
   visibility: visible;
   display: inline;
}
#wb_Text1
{
   margin: 0;
   padding: 10px 10px 10px 10px;
}
#PanelLayer
{
   left: 998px;
   top: 167px;
   width: 250px;
   font-weight: normal;
}
#PanelLayer_Container
{
   width: 250px;
}
#wb_CssMenu1
{
   left: 0px;
   top: 226px;
   width: 250px;
   height: 200px;
   visibility: visible;
;
   margin: 0;
   text-align: left;
}
#wb_CssMenu1 li
{
   width: 100%;
}
#wb_CssMenu1 a
{
   color: #D3D3D3;
   border: 0px solid #CCCCCC;
   background-color: #3E78B3;
   background-image: none;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   width: 96%;
   height: 40px;
   padding: 0px 5px 0px 5px;
   line-height: 40px;
   text-align: center;
}
#wb_CssMenu1 li:hover a, #wb_CssMenu1 a:hover, #wb_CssMenu1 .active
{
   color: #FFFFFF;
   background-color: #696969;
   background-image: none;
   border: 0px solid #2E6DA4;
}
#wb_Copyrights
{
   left: 30px;
   top: 485px;
   width: 192px;
   height: 14px;
   visibility: visible;
   display: inline;
}
#wb_Copyrights
{
   margin: 0;
   padding: 0;
}
#Timer1
{
   left: 998px;
   top: 724px;
   width: 48px;
   height: 48px;
   visibility: visible;
   display: inline;
}
#wb_FontAwesomeIcon5
{
   width: 48px;
   height: 42px;
   visibility: visible;
   display: inline;
   color: #FFFFFF;
   font-weight: normal;
   margin: 0;
   padding: 10px 10px 10px 10px;
}
#FontAwesomeIcon5
{
   width: 48px;
   height: 42px;
}
#FontAwesomeIcon5 i
{
   line-height: 42px;
   font-size: 42px;
   width: 35px;
}
#wb_Heading1
{
   width: 236px;
   height: 49px;
   visibility: visible;
   display: inline;
   color: #FFFFFF;
   font-weight: bold;
   margin: 0;
   padding: 0;
}
#wb_Heading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   text-align: left;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
}
#Heading1
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
}
#skills
{
   visibility: visible;
   display: flex;
   font-weight: normal;
   background-color: transparent;
   background-image: none;
}
#skills
{
   min-height: 0;
   margin: 0;
   padding: 10px 10px 10px 10px;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: center;
   align-content: center;
}
#wb_awards
{
   visibility: visible;
   display: block;
   font-weight: normal;
}
#awards
{
   min-height: 0;
   margin-top: 0px;
   margin-bottom: 0px;
   padding: 10px 10px 10px 10px;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-align-items: stretch;
   align-items: stretch;
   -webkit-align-content: flex-start;
   align-content: flex-start;
}
#contact
{
   visibility: visible;
   display: flex;
   font-weight: normal;
   background-color: #FFFFFF;
   background-image: none;
}
#contact
{
   min-height: 0;
   margin: 0;
   padding: 10px 10px 10px 10px;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: center;
   align-content: center;
}
#wb_Image1
{
   left: 49px;
   top: 38px;
   width: 139px;
   height: 139px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Heading2
{
   width: auto;
   height: auto;
   visibility: visible;
   display: inline;
   color: #696969;
   font-weight: bold;
   margin: 0;
   padding: 0;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: stretch;
   align-self: stretch;
}
#wb_Heading2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   text-align: left;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: stretch;
   align-self: stretch;
}
#Heading2
{
   color: #696969;
   font-family: Arial;
   font-weight: bold;
   font-size: 24px;
}
#wb_Card1
{
   width: auto;
   height: auto;
   visibility: visible;
   display: flex;
   color: #FFFFFF;
   font-weight: normal;
   margin: 10px 10px 10px 10px;
}
#Card1-card-item0
{
   box-sizing: border-box;
   border-radius: 4px 4px 0 0;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
}
#Card1-card-item1
{
   box-sizing: border-box;
   margin: 20px 20px 0px 20px;
   padding: 0;
   color: #292B2C;
   font-family: Arial;
   font-weight: bold;
   font-size: 19px;
}
#Card1-card-item2
{
   box-sizing: border-box;
   border-radius: 0 0 4px 4px;
   margin: 20px 20px 20px 20px;
   padding: 0;
   color: #4F4F4F;
   font-family: Arial;
   font-weight: normal;
   font-size: 15px;
}
#wb_Card2
{
   width: auto;
   height: auto;
   visibility: visible;
   display: flex;
   color: #FFFFFF;
   font-weight: normal;
   margin: 10px 10px 10px 10px;
}
#Card2-card-item0
{
   box-sizing: border-box;
   border-radius: 4px 4px 0 0;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
}
#Card2-card-item1
{
   box-sizing: border-box;
   margin: 20px 20px 0px 20px;
   padding: 0;
   color: #292B2C;
   font-family: Arial;
   font-weight: bold;
   font-size: 19px;
}
#Card2-card-item2
{
   box-sizing: border-box;
   border-radius: 0 0 4px 4px;
   margin: 20px 20px 20px 20px;
   padding: 0;
   color: #4F4F4F;
   font-family: Arial;
   font-weight: normal;
   font-size: 15px;
}
#wb_Card3
{
   width: auto;
   height: auto;
   visibility: visible;
   display: flex;
   color: #FFFFFF;
   font-weight: normal;
   margin: 10px 10px 10px 10px;
}
#Card3-card-item0
{
   box-sizing: border-box;
   border-radius: 4px 4px 0 0;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
}
#Card3-card-item1
{
   box-sizing: border-box;
   margin: 20px 20px 0px 20px;
   padding: 0;
   color: #292B2C;
   font-family: Arial;
   font-weight: bold;
   font-size: 19px;
}
#Card3-card-item2
{
   box-sizing: border-box;
   border-radius: 0 0 4px 4px;
   margin: 20px 20px 20px 20px;
   padding: 0;
   color: #4F4F4F;
   font-family: Arial;
   font-weight: normal;
   font-size: 15px;
}
#progressbar_uidesign
{
   width: auto;
   height: 22px;
   visibility: visible;
   display: inline;
   margin: 0px 0px 10px 0px;
}
#progressbar_html
{
   width: auto;
   height: 22px;
   visibility: visible;
   display: inline;
   margin: 0px 0px 10px 0px;
}
#Label5
{
   width: auto;
   height: 28px;
   visibility: visible;
   display: inline;
   color: #3E78B3;
   font-weight: bold;
   margin: 0;
   padding: 4px 4px 4px 0px;
   text-align: left;
}
#Label6
{
   width: auto;
   height: 28px;
   visibility: visible;
   display: inline;
   color: #3E78B3;
   font-weight: bold;
   margin: 0;
   padding: 4px 4px 4px 0px;
   text-align: left;
}
#wb_Heading3
{
   width: auto;
   height: auto;
   visibility: visible;
   display: inline;
   color: #3E78B3;
   font-weight: bold;
   margin: 0;
   padding: 0px 0px 10px 0px;
}
#wb_Heading3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   text-align: left;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 100%;
   flex-basis: 100%;
   -webkit-align-self: auto;
   align-self: auto;
}
#Heading3
{
   color: #3E78B3;
   font-family: Arial;
   font-weight: bold;
   font-size: 24px;
}
#Editbox2
{
   width: auto;
   height: 42px;
   visibility: visible;
   display: inline;
   color: #696969;
   font-weight: normal;
   margin: 10px 0px 10px 0px;
   padding: 8px 8px 8px 10px;
   text-align: left;
}
#Editbox2
{
   line-height: 4px;
}
#Editbox3
{
   width: auto;
   height: 42px;
   visibility: visible;
   display: inline;
   color: #696969;
   font-weight: normal;
   margin: 10px 0px 10px 0px;
   padding: 8px 8px 8px 10px;
   text-align: left;
}
#Editbox3
{
   line-height: 4px;
}
#Editbox1
{
   width: auto;
   height: 42px;
   visibility: visible;
   display: inline;
   color: #696969;
   font-weight: normal;
   margin: 10px 0px 10px 0px;
   padding: 8px 8px 8px 10px;
   text-align: left;
}
#Editbox1
{
   line-height: 4px;
}
#Button1
{
   width: 169px;
   height: 35px;
   visibility: visible;
   display: inline;
   color: #696969;
   font-weight: normal;
   margin: 10px 0px 10px 0px;
}
#wb_Heading4
{
   width: auto;
   height: auto;
   visibility: visible;
   display: inline;
   color: #696969;
   font-weight: bold;
   margin: 20px 0px 20px 0px;
   padding: 0;
}
#wb_Heading4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   text-align: left;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 100%;
   flex-basis: 100%;
   -webkit-align-self: auto;
   align-self: auto;
}
#Heading4
{
   color: #696969;
   font-family: Arial;
   font-weight: bold;
   font-size: 24px;
}
#wb_close-panel
{
   left: 198px;
   top: 4px;
   width: 28px;
   height: 28px;
   visibility: visible;
   display: inline;
   color: #FFFFFF;
   font-weight: normal;
   margin: 0;
   padding: 10px 10px 10px 10px;
}
#close-panel
{
   width: 28px;
   height: 28px;
}
#close-panel i
{
   line-height: 28px;
   font-size: 28px;
   width: 21px;
}
}
body
{
    width: auto !important;
}
#container
{
    width: 100%;
    height: 100%;
}
#PanelLayer_Container, #PanelLayer
{
   height: 100%;
}
#wb_Copyrights
{
   top: auto !important;
   bottom: 20px;
}
